#affiliation (namespace)
ari-test
#protocol to use (tcp,udp)
udp
#local port
15000
#number of remote TAs
2
#remote TA URI (must match the protocol provided)
gnucla.udp://10.5.155.181:15000
gnucla.ufp://128.227.136.244:15000
tap0
#number of IP addresses I route for
1
# IP address we proxy (statis IP; no dhcp)
172.16.0.10
#MAC address of the VM
00:FF:DF:35:0B:60
