<IPRouterConfig>
  <brunet_namespace>condor_wow</brunet_namespace>
  <ipop_namespace>Test</ipop_namespace>
  <EdgeListeners>
    <EdgeListener type="udp">
      <port>15000</port>
    </EdgeListener>
  </EdgeListeners>
  <RemoteTAs>
    <transport>brunet.udp://eckert.acis.ufl.edu:15000</transport>
    <transport>brunet.udp://planetlab1.cs.purdue.edu:43001</transport>
    <transport>brunet.udp://planetlab2.cs.purdue.edu:43001</transport>
    <transport>brunet.udp://grouse.hpl.hp.com:43001</transport>
    <transport>brunet.udp://planetlab-01.bu.edu:43001</transport>
    <transport>brunet.udp://planetlab-02.bu.edu:43001</transport>
    <transport>brunet.udp://pl1.cs.utk.edu:43001</transport>
    <transport>brunet.udp://pl2.cs.utk.edu:43001</transport>
    <transport>brunet.udp://planet1.att.nodes.planet-lab.org:43001</transport>
    <transport>brunet.udp://planet1.pittsburgh.intel-research.net:43001</transport>
    <transport>brunet.udp://planet1.scs.cs.nyu.edu:43001</transport>
    <transport>brunet.udp://planet1.seattle.intel-research.net:43001</transport>
    <transport>brunet.udp://planet2.att.nodes.planet-lab.org:43001</transport>
    <transport>brunet.udp://planet3.pittsburgh.intel-research.net:43001</transport>
    <transport>brunet.udp://planet3.seattle.intel-research.net:43001</transport>
  </RemoteTAs>
  <device>tap0</device>
  <IPConfig>dhcp</IPConfig>
  <DHCPServerIP>192.168.0.1:61234</DHCPServerIP>
</IPRouterConfig>
