<IPRouterConfig>
  <brunet_namespace>condor_wow</brunet_namespace>
  <ipop_namespace>Test</ipop_namespace>
  <EdgeListeners>
    <EdgeListener type="udp-as">
      <port>15000</port>
    </EdgeListener>
  </EdgeListeners>
  <TAList>
    <string>gnucla.udp://eckert.acis.ufl.edu:15000</string>
    <string>gnucla.udp://planetlab1.cs.purdue.edu:43001</string>
    <string>gnucla.udp://planetlab2.cs.purdue.edu:43001</string>
    <string>gnucla.udp://grouse.hpl.hp.com:43001</string>
    <string>gnucla.udp://planetlab-01.bu.edu:43001</string>
    <string>gnucla.udp://planetlab-02.bu.edu:43001</string>
    <string>gnucla.udp://pl1.cs.utk.edu:43001</string>
    <string>gnucla.udp://pl2.cs.utk.edu:43001</string>
    <string>gnucla.udp://planet1.att.nodes.planet-lab.org:43001</string>
    <string>gnucla.udp://planet1.pittsburgh.intel-research.net:43001</string>
    <string>gnucla.udp://planet1.scs.cs.nyu.edu:43001</string>
    <string>gnucla.udp://planet1.seattle.intel-research.net:43001</string>
    <string>gnucla.udp://planet2.att.nodes.planet-lab.org:43001</string>
    <string>gnucla.udp://planet3.pittsburgh.intel-research.net:43001</string>
    <string>gnucla.udp://planet3.seattle.intel-resaerch.net:43001</string>
  </TAList>
  <device>tap0</device>
  <Hostname>localhost</Hostname>
  <IPConfig>static</IPConfig>
  <StaticData>
    <IPAddress>10.254.13.254</IPAddress>
    <Netmask>255.128.0.0</Netmask>
  </StaticData>
</IPRouterConfig>
