<?xml version="1.0" encoding="utf-8"?>
<IPRouterConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ipop_namespace>ari_ipop</ipop_namespace>
  <brunet_namespace>ari_dht</brunet_namespace>
  <device>tap0</device>
  <RemoteTAs>
    <transport>brunet.udp://planetlab1.atla.internet2.planet-lab.org:53001</transport>
    <transport>brunet.udp://planetlab1.hstn.internet2.planet-lab.org:53001</transport>
    <transport>brunet.udp://planetlab1.pc.cis.udel.edu:53001</transport>
    <transport>brunet.udp://planetlab2.atla.internet2.planet-lab.org:53001</transport>
    <transport>brunet.udp://planetlab2.hstn.internet2.planet-lab.org:53001</transport>
    <transport>brunet.udp://planetlab2.pc.cis.udel.edu:53001</transport>
    <transport>brunet.udp://scratchy.cs.uga.edu:53001</transport>
    <transport>brunet.udp://planetlab1.cse.nd.edu:53001</transport>
    <transport>brunet.udp://planetlab2.cse.nd.edu:53001</transport>
    <transport>brunet.udp://planetlab2.cs.uiuc.edu:53001</transport>
    <transport>brunet.udp://planetlab3.cs.uiuc.edu:53001</transport>
    <transport>brunet.udp://planetlab4.cs.uiuc.edu:53001</transport>
  </RemoteTAs>
  <EdgeListeners>
    <EdgeListener type="udp">
      <port>15000</port>
    </EdgeListener>
  </EdgeListeners>
  <IPConfig>dhcp-dht</IPConfig>
  <NodeAddress>25:37:29:185:254:78:210:142:133:51:69:180:18:135:166:224:235:234:61:208</NodeAddress>
  <Setup>manual</Setup>
  <DHCPData>
    <DHCPServerAddress>128.227.56.247:8602</DHCPServerAddress>
  </DHCPData>
</IPRouterConfig>
