<?xml version="1.0" encoding="us-ascii"?>
<IPRouterConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ipop_namespace>Test</ipop_namespace>
  <brunet_namespace>condor_wow</brunet_namespace>
  <device>tap0</device>
  <RemoteTAs>
    <transport>brunet.udp://eckert.acis.ufl.edu:15000</transport>
    <transport>brunet.udp://planetlab1.cs.purdue.edu:43001</transport>
    <transport>brunet.udp://planetlab2.cs.purdue.edu:43001</transport>
    <transport>brunet.udp://grouse.hpl.hp.com:43001</transport>
    <transport>brunet.udp://planetlab-01.bu.edu:43001</transport>
    <transport>brunet.udp://planetlab-02.bu.edu:43001</transport>
    <transport>brunet.udp://pl1.cs.utk.edu:43001</transport>
    <transport>brunet.udp://pl2.cs.utk.edu:43001</transport>
    <transport>brunet.udp://planet1.att.nodes.planet-lab.org:43001</transport>
    <transport>brunet.udp://planet1.pittsburgh.intel-research.net:43001</transport>
    <transport>brunet.udp://planet1.scs.cs.nyu.edu:43001</transport>
    <transport>brunet.udp://planet1.seattle.intel-research.net:43001</transport>
    <transport>brunet.udp://planet2.att.nodes.planet-lab.org:43001</transport>
    <transport>brunet.udp://planet3.pittsburgh.intel-research.net:43001</transport>
    <transport>brunet.udp://planet3.seattle.intel-research.net:43001</transport>
  </RemoteTAs>
  <EdgeListeners>
    <EdgeListener type="udp-as">
      <port>15000</port>
    </EdgeListener>
  </EdgeListeners>
  <IPConfig>dhcp</IPConfig>
  <DHCPData>
    <DHCPServerAddress>128.227.56.247:8602</DHCPServerAddress>
  </DHCPData>
</IPRouterConfig>