<?xml version="1.0" encoding="us-ascii"?>
<IPRouterConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ipop_namespace>Test</ipop_namespace>
  <brunet_namespace>Condor_WOW_R3</brunet_namespace>
  <device>tap0</device>
  <RemoteTAs>
    <transport>brunet.udp://128.10.19.52:43003</transport>
    <transport>brunet.udp://128.10.19.53:43003</transport>
    <transport>brunet.udp://192.6.19.120:43003</transport>
    <transport>brunet.udp://160.36.57.173:43003</transport>
    <transport>brunet.udp://204.178.4.163:43003</transport>
    <transport>brunet.udp://171.66.3.181:43003</transport>
    <transport>brunet.udp://171.66.3.182:43003</transport>
    <transport>brunet.udp://204.178.4.164:43003</transport>
    <transport>brunet.udp://128.197.13.31:43003</transport>
    <transport>brunet.udp://128.197.13.32:43003</transport>
    <transport>brunet.udp://128.112.139.71:43003</transport>
    <transport>brunet.udp://128.112.139.78:43003</transport>
    <transport>brunet.udp://169.229.50.12:43003</transport>
    <transport>brunet.udp://169.229.50.13:43003</transport>
  </RemoteTAs>
  <EdgeListeners>
    <EdgeListener type="udp">
      <port_low>15000</port_low>
      <port_high>64000</port_high>
    </EdgeListener>
  </EdgeListeners>
  <AddressData>
    <DHCPServerAddress>128.227.56.247:9203</DHCPServerAddress>
    <DhtDHCP>false</DhtDHCP>
  </AddressData>
  <dht_media>disk</dht_media>
  <DevicesToBind>
    <Device>eth0</Device>
  </DevicesToBind>
</IPRouterConfig>
