<?xml version="1.0" encoding="us-ascii"?>
<IPRouterConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ipop_namespace>Test</ipop_namespace>
  <brunet_namespace>Condor_WOW_R3</brunet_namespace>
  <device>tap0</device>
  <RemoteTAs>
    <transport>brunet.udp://193.147.162.166:43003</transport>
    <transport>brunet.udp://132.204.102.22:43003</transport>
    <transport>brunet.udp://140.119.164.84:43003</transport>
    <transport>brunet.udp://193.196.39.9:43003</transport>
    <transport>brunet.udp://193.196.39.10:43003</transport>
    <transport>brunet.udp://129.237.161.193:43003</transport>
    <transport>brunet.udp://129.237.161.194:43003</transport>
    <transport>brunet.udp://140.247.60.123:43003</transport>
    <transport>brunet.udp://192.197.121.2:43003</transport>
    <transport>brunet.udp://142.150.238.12:43003</transport>
    <transport>brunet.udp://160.36.57.172:43003</transport>
    <transport>brunet.udp://142.150.238.13:43003</transport>
    <transport>brunet.udp://160.36.57.173:43003</transport>
    <transport>brunet.udp://143.89.126.12:43003</transport>
    <transport>brunet.udp://143.89.126.13:43003</transport>
    <transport>brunet.udp://203.200.36.227:43003</transport>
    <transport>brunet.udp://130.88.203.26:43003</transport>
    <transport>brunet.udp://141.24.33.161:43003</transport>
    <transport>brunet.udp://216.165.109.81:43003</transport>
    <transport>brunet.udp://171.66.3.181:43003</transport>
    <transport>brunet.udp://128.151.65.102:43003</transport>
    <transport>brunet.udp://130.88.203.27:43003</transport>
    <transport>brunet.udp://141.24.33.162:43003</transport>
    <transport>brunet.udp://216.165.109.82:43003</transport>
    <transport>brunet.udp://171.66.3.182:43003</transport>
    <transport>brunet.udp://143.215.128.194:43003</transport>
    <transport>brunet.udp://128.208.4.197:43003</transport>
    <transport>brunet.udp://192.33.90.195:43003</transport>
    <transport>brunet.udp://139.19.142.1:43003</transport>
    <transport>brunet.udp://152.15.98.226:43003</transport>
    <transport>brunet.udp://128.208.4.198:43003</transport>
    <transport>brunet.udp://139.19.142.2:43003</transport>
    <transport>brunet.udp://152.15.98.227:43003</transport>
    <transport>brunet.udp://128.208.4.199:43003</transport>
    <transport>brunet.udp://139.19.142.3:43003</transport>
    <transport>brunet.udp://139.19.142.4:43003</transport>
    <transport>brunet.udp://139.19.142.5:43003</transport>
    <transport>brunet.udp://139.19.142.6:43003</transport>
    <transport>brunet.udp://128.112.139.78:43003</transport>
    <transport>brunet.udp://128.227.56.81:43003</transport>
    <transport>brunet.udp://128.187.223.211:43003</transport>
    <transport>brunet.udp://128.2.223.63:43003</transport>
    <transport>brunet.udp://128.31.1.11:43003</transport>
    <transport>brunet.udp://129.82.12.187:43003</transport>
    <transport>brunet.udp://128.84.154.49:43003</transport>
    <transport>brunet.udp://129.74.152.66:43003</transport>
    <transport>brunet.udp://128.112.139.71:43003</transport>
    <transport>brunet.udp://128.10.19.52:43003</transport>
    <transport>brunet.udp://192.17.239.250:43003</transport>
    <transport>brunet.udp://128.119.247.210:43003</transport>
    <transport>brunet.udp://202.189.126.85:43003</transport>
    <transport>brunet.udp://193.55.112.40:43003</transport>
    <transport>brunet.udp://132.252.152.193:43003</transport>
    <transport>brunet.udp://129.240.67.15:43003</transport>
    <transport>brunet.udp://133.11.240.56:43003</transport>
    <transport>brunet.udp://193.63.75.18:43003</transport>
    <transport>brunet.udp://131.246.19.201:43003</transport>
    <transport>brunet.udp://138.96.250.222:43003</transport>
    <transport>brunet.udp://193.10.133.128:43003</transport>
    <transport>brunet.udp://129.12.3.74:43003</transport>
    <transport>brunet.udp://130.245.145.155:43003</transport>
    <transport>brunet.udp://128.163.142.20:43003</transport>
    <transport>brunet.udp://193.1.201.26:43003</transport>
    <transport>brunet.udp://129.137.253.253:43003</transport>
    <transport>brunet.udp://128.232.103.201:43003</transport>
    <transport>brunet.udp://128.187.223.212:43003</transport>
    <transport>brunet.udp://128.2.223.64:43003</transport>
    <transport>brunet.udp://128.31.1.12:43003</transport>
    <transport>brunet.udp://129.82.12.188:43003</transport>
    <transport>brunet.udp://128.84.154.71:43003</transport>
    <transport>brunet.udp://129.105.44.253:43003</transport>
    <transport>brunet.udp://128.10.19.53:43003</transport>
    <transport>brunet.udp://192.17.239.251:43003</transport>
    <transport>brunet.udp://195.130.121.205:43003</transport>
    <transport>brunet.udp://128.223.8.112:43003</transport>
    <transport>brunet.udp://198.133.224.146:43003</transport>
    <transport>brunet.udp://202.189.126.86:43003</transport>
    <transport>brunet.udp://193.55.112.41:43003</transport>
    <transport>brunet.udp://132.252.152.194:43003</transport>
    <transport>brunet.udp://129.240.67.16:43003</transport>
    <transport>brunet.udp://133.11.240.57:43003</transport>
    <transport>brunet.udp://193.63.75.19:43003</transport>
    <transport>brunet.udp://131.246.19.202:43003</transport>
    <transport>brunet.udp://132.187.230.2:43003</transport>
    <transport>brunet.udp://138.96.250.223:43003</transport>
    <transport>brunet.udp://131.246.191.42:43003</transport>
    <transport>brunet.udp://129.12.3.75:43003</transport>
    <transport>brunet.udp://128.163.142.21:43003</transport>
    <transport>brunet.udp://128.238.88.65:43003</transport>
    <transport>brunet.udp://193.1.201.27:43003</transport>
    <transport>brunet.udp://129.137.253.252:43003</transport>
    <transport>brunet.udp://128.232.103.202:43003</transport>
    <transport>brunet.udp://128.2.223.65:43003</transport>
    <transport>brunet.udp://128.31.1.13:43003</transport>
    <transport>brunet.udp://128.112.139.73:43003</transport>
    <transport>brunet.udp://138.96.250.224:43003</transport>
    <transport>brunet.udp://128.232.103.203:43003</transport>
    <transport>brunet.udp://128.31.1.14:43003</transport>
    <transport>brunet.udp://128.112.139.96:43003</transport>
    <transport>brunet.udp://141.149.218.209:43003</transport>
    <transport>brunet.udp://128.31.1.15:43003</transport>
    <transport>brunet.udp://128.112.139.97:43003</transport>
    <transport>brunet.udp://128.31.1.16:43003</transport>
    <transport>brunet.udp://128.31.1.17:43003</transport>
    <transport>brunet.udp://128.112.139.108:43003</transport>
    <transport>brunet.udp://216.165.109.79:43003</transport>
    <transport>brunet.udp://129.174.79.249:43003</transport>
    <transport>brunet.udp://129.174.79.248:43003</transport>
    <transport>brunet.udp://220.245.140.196:43003</transport>
    <transport>brunet.udp://220.245.140.197:43003</transport>
    <transport>brunet.udp://140.247.60.126:43003</transport>
    <transport>brunet.udp://128.192.101.218:43003</transport>
    <transport>brunet.udp://219.243.200.113:43003</transport>
  </RemoteTAs>
  <EdgeListeners>
    <EdgeListener type="udp">
      <port_low>15000</port_low>
      <port_high>65535</port_high>
    </EdgeListener>
  </EdgeListeners>
  <AddressData>
    <DHCPServerAddress>128.227.56.247:9203</DHCPServerAddress>
    <DhtDHCP>true</DhtDHCP>
    <Netmask>255.192.0.0</Netmask>
  </AddressData>
  <dht_media>disk</dht_media>
  <DevicesToBind>
    <Device>eth0</Device>
  </DevicesToBind>
</IPRouterConfig>
