<SimpleNodeConfig>
  <brunet_namespace>condor_wow</brunet_namespace>
  <RemoteTAs>
    <transport>brunet.udp://planetlab1.cs.purdue.edu:43001</transport>
    <transport>brunet.udp://planetlab2.cs.purdue.edu:43001</transport>
    <transport>brunet.udp://grouse.hpl.hp.com:43001</transport>
    <transport>brunet.udp://pl1.cs.utk.edu:43001</transport>
    <transport>brunet.udp://pl2.cs.utk.edu:43001</transport>
    <transport>brunet.udp://planet1.att.nodes.planet-lab.org:43001</transport>
    <transport>brunet.udp://planet1.pittsburgh.intel-research.net:43001</transport>
    <transport>brunet.udp://planet1.scs.stanford.edu:43001</transport>
    <transport>brunet.udp://planet2.scs.stanford.edu:43001</transport>
    <transport>brunet.udp://planet1.seattle.intel-research.net:43001</transport>
    <transport>brunet.udp://planet2.att.nodes.planet-lab.org:43001</transport>
    <transport>brunet.udp://planet3.pittsburgh.intel-research.net:43001</transport>
    <transport>brunet.udp://planet3.seattle.intel-research.net:43001</transport>
    <transport>brunet.udp://planetlab-01.bu.edu:43001</transport>
    <transport>brunet.udp://planetlab-02.bu.edu:43001</transport>
    <transport>brunet.udp://planet2.berkeley.intel-research.net:43001</transport>
    <transport>brunet.udp://planet1.berkeley.intel-research.net:43001</transport>
    <transport>brunet.udp://planetlab-1.cs.princeton.edu:43001</transport>
    <transport>brunet.udp://planetlab-10.cs.princeton.edu:43001</transport>
    <transport>brunet.udp://planetlab1.atla.internet2.planet-lab.org:43001</transport>
    <transport>brunet.udp://planetlab2.atla.internet2.planet-lab.org:43001</transport>
    <transport>brunet.udp://planetlab1.snva.internet2.planet-lab.org:43001</transport>
    <transport>brunet.udp://planetlab2.snva.internet2.planet-lab.org:43001</transport>
    <transport>brunet.udp://planetlab1.wash.internet2.planet-lab.org:43001</transport>
    <transport>brunet.udp://planetlab2.wash.internet2.planet-lab.org:43001</transport>
    <transport>brunet.udp://planetlab10.millennium.berkeley.edu:43001</transport>
    <transport>brunet.udp://planetlab11.millennium.berkeley.edu:43001 </transport>
  </RemoteTAs>
  <EdgeListeners>
    <EdgeListener type="udp-as">
      <port>43001</port>
    </EdgeListener>
  </EdgeListeners>
</SimpleNodeConfig>