<?xml version="1.0" encoding="utf-8"?>
<NodeConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BrunetNamespace>ufl_testwow_05</BrunetNamespace>
  <RemoteTAs>
    <Transport>brunet.udp://193.147.162.166:44392</Transport>
    <Transport>brunet.udp://195.37.16.97:44392</Transport>
    <Transport>brunet.udp://128.112.139.80:44392</Transport>
    <Transport>brunet.udp://219.243.206.124:44392</Transport>
    <Transport>brunet.udp://206.12.16.133:44392</Transport>
    <Transport>brunet.udp://206.12.16.134:44392</Transport>
    <Transport>brunet.udp://195.37.16.101:44392</Transport>
    <Transport>brunet.udp://132.68.237.34:44392</Transport>
    <Transport>brunet.udp://132.68.237.35:44392</Transport>
    <Transport>brunet.udp://132.68.237.36:44392</Transport>
    <Transport>brunet.udp://140.119.164.84:44392</Transport>
    <Transport>brunet.udp://134.2.172.253:44392</Transport>
    <Transport>brunet.udp://193.196.39.9:44392</Transport>
    <Transport>brunet.udp://193.196.39.10:44392</Transport>
    <Transport>brunet.udp://128.192.101.217:44392</Transport>
    <Transport>brunet.udp://129.237.161.193:44392</Transport>
    <Transport>brunet.udp://129.237.161.194:44392</Transport>
    <Transport>brunet.udp://140.247.60.123:44392</Transport>
    <Transport>brunet.udp://219.243.200.49:44392</Transport>
    <Transport>brunet.udp://219.243.201.49:44392</Transport>
    <Transport>brunet.udp://192.197.121.2:44392</Transport>
    <Transport>brunet.udp://192.197.121.3:44392</Transport>
    <Transport>brunet.udp://140.114.79.231:44392</Transport>
    <Transport>brunet.udp://140.114.79.233:44392</Transport>
    <Transport>brunet.udp://134.2.172.252:44392</Transport>
    <Transport>brunet.udp://142.150.238.12:44392</Transport>
    <Transport>brunet.udp://160.36.57.172:44392</Transport>
    <Transport>brunet.udp://202.38.99.69:44392</Transport>
    <Transport>brunet.udp://142.150.238.13:44392</Transport>
    <Transport>brunet.udp://160.36.57.173:44392</Transport>
    <Transport>brunet.udp://143.89.126.13:44392</Transport>
    <Transport>brunet.udp://152.14.92.58:44392</Transport>
    <Transport>brunet.udp://152.14.92.59:44392</Transport>
    <Transport>brunet.udp://12.46.129.21:44392</Transport>
    <Transport>brunet.udp://132.65.240.100:44392</Transport>
    <Transport>brunet.udp://128.151.65.101:44392</Transport>
    <Transport>brunet.udp://128.113.226.235:44392</Transport>
    <Transport>brunet.udp://130.75.87.83:44392</Transport>
    <Transport>brunet.udp://130.88.203.26:44392</Transport>
    <Transport>brunet.udp://12.108.127.136:44392</Transport>
    <Transport>brunet.udp://141.24.33.161:44392</Transport>
    <Transport>brunet.udp://171.66.3.181:44392</Transport>
    <Transport>brunet.udp://132.65.240.101:44392</Transport>
    <Transport>brunet.udp://128.151.65.102:44392</Transport>
    <Transport>brunet.udp://130.88.203.27:44392</Transport>
    <Transport>brunet.udp://12.108.127.137:44392</Transport>
    <Transport>brunet.udp://141.24.33.162:44392</Transport>
    <Transport>brunet.udp://171.66.3.182:44392</Transport>
    <Transport>brunet.udp://12.46.129.23:44392</Transport>
    <Transport>brunet.udp://12.108.127.138:44392</Transport>
    <Transport>brunet.udp://143.215.128.194:44392</Transport>
    <Transport>brunet.udp://128.208.4.197:44392</Transport>
    <Transport>brunet.udp://132.227.74.40:44392</Transport>
    <Transport>brunet.udp://139.19.142.1:44392</Transport>
    <Transport>brunet.udp://163.221.11.71:44392</Transport>
    <Transport>brunet.udp://152.15.98.226:44392</Transport>
    <Transport>brunet.udp://128.208.4.198:44392</Transport>
    <Transport>brunet.udp://132.227.74.41:44392</Transport>
    <Transport>brunet.udp://139.19.142.2:44392</Transport>
    <Transport>brunet.udp://163.221.11.72:44392</Transport>
    <Transport>brunet.udp://128.208.4.199:44392</Transport>
    <Transport>brunet.udp://139.19.142.3:44392</Transport>
    <Transport>brunet.udp://163.221.11.73:44392</Transport>
    <Transport>brunet.udp://139.19.142.4:44392</Transport>
    <Transport>brunet.udp://139.19.142.5:44392</Transport>
    <Transport>brunet.udp://139.19.142.6:44392</Transport>
    <Transport>brunet.udp://128.112.139.78:44392</Transport>
    <Transport>brunet.udp://169.229.50.12:44392</Transport>
    <Transport>brunet.udp://169.229.50.13:44392</Transport>
    <Transport>brunet.udp://169.229.50.14:44392</Transport>
    <Transport>brunet.udp://169.229.50.15:44392</Transport>
    <Transport>brunet.udp://169.229.50.16:44392</Transport>
    <Transport>brunet.udp://169.229.50.17:44392</Transport>
    <Transport>brunet.udp://128.187.223.211:44392</Transport>
    <Transport>brunet.udp://128.2.223.63:44392</Transport>
    <Transport>brunet.udp://128.220.231.2:44392</Transport>
    <Transport>brunet.udp://128.31.1.11:44392</Transport>
    <Transport>brunet.udp://129.82.12.187:44392</Transport>
    <Transport>brunet.udp://128.59.20.226:44392</Transport>
    <Transport>brunet.udp://128.84.154.49:44392</Transport>
    <Transport>brunet.udp://129.170.214.191:44392</Transport>
    <Transport>brunet.udp://152.3.138.1:44392</Transport>
    <Transport>brunet.udp://129.74.152.66:44392</Transport>
    <Transport>brunet.udp://128.112.139.71:44392</Transport>
    <Transport>brunet.udp://128.10.19.52:44392</Transport>
    <Transport>brunet.udp://128.83.122.179:44392</Transport>
    <Transport>brunet.udp://128.135.11.149:44392</Transport>
    <Transport>brunet.udp://131.179.112.70:44392</Transport>
    <Transport>brunet.udp://192.17.239.250:44392</Transport>
    <Transport>brunet.udp://128.119.247.210:44392</Transport>
    <Transport>brunet.udp://152.2.130.66:44392</Transport>
    <Transport>brunet.udp://128.223.8.111:44392</Transport>
    <Transport>brunet.udp://198.133.224.145:44392</Transport>
    <Transport>brunet.udp://160.94.220.241:44392</Transport>
    <Transport>brunet.udp://129.186.205.73:44392</Transport>
    <Transport>brunet.udp://169.237.79.210:44392</Transport>
    <Transport>brunet.udp://129.22.150.90:44392</Transport>
    <Transport>brunet.udp://202.189.126.85:44392</Transport>
    <Transport>brunet.udp://128.193.33.7:44392</Transport>
    <Transport>brunet.udp://132.252.152.193:44392</Transport>
    <Transport>brunet.udp://155.98.35.2:44392</Transport>
    <Transport>brunet.udp://141.161.20.32:44392</Transport>
    <Transport>brunet.udp://129.240.67.15:44392</Transport>
    <Transport>brunet.udp://133.11.240.56:44392</Transport>
    <Transport>brunet.udp://193.63.75.18:44392</Transport>
    <Transport>brunet.udp://131.246.19.201:44392</Transport>
    <Transport>brunet.udp://138.96.250.222:44392</Transport>
    <Transport>brunet.udp://128.220.247.28:44392</Transport>
    <Transport>brunet.udp://193.10.133.128:44392</Transport>
    <Transport>brunet.udp://129.12.3.74:44392</Transport>
    <Transport>brunet.udp://138.246.99.249:44392</Transport>
    <Transport>brunet.udp://150.165.15.18:44392</Transport>
    <Transport>brunet.udp://138.100.12.148:44392</Transport>
    <Transport>brunet.udp://130.245.145.155:44392</Transport>
    <Transport>brunet.udp://128.163.142.20:44392</Transport>
    <Transport>brunet.udp://193.63.58.70:44392</Transport>
    <Transport>brunet.udp://140.112.107.80:44392</Transport>
    <Transport>brunet.udp://128.4.36.11:44392</Transport>
    <Transport>brunet.udp://128.238.88.64:44392</Transport>
    <Transport>brunet.udp://200.19.159.34:44392</Transport>
    <Transport>brunet.udp://206.117.37.4:44392</Transport>
    <Transport>brunet.udp://192.16.125.11:44392</Transport>
    <Transport>brunet.udp://165.91.83.22:44392</Transport>
    <Transport>brunet.udp://193.1.201.26:44392</Transport>
    <Transport>brunet.udp://129.137.253.253:44392</Transport>
    <Transport>brunet.udp://195.116.60.1:44392</Transport>
    <Transport>brunet.udp://198.163.152.229:44392</Transport>
    <Transport>brunet.udp://128.232.103.201:44392</Transport>
    <Transport>brunet.udp://128.227.56.82:44392</Transport>
    <Transport>brunet.udp://158.130.6.253:44392</Transport>
    <Transport>brunet.udp://128.2.223.64:44392</Transport>
    <Transport>brunet.udp://128.220.231.3:44392</Transport>
    <Transport>brunet.udp://128.31.1.12:44392</Transport>
    <Transport>brunet.udp://129.82.12.188:44392</Transport>
    <Transport>brunet.udp://128.59.20.227:44392</Transport>
    <Transport>brunet.udp://128.84.154.71:44392</Transport>
    <Transport>brunet.udp://129.170.214.192:44392</Transport>
    <Transport>brunet.udp://152.3.138.2:44392</Transport>
    <Transport>brunet.udp://194.80.38.243:44392</Transport>
    <Transport>brunet.udp://129.105.44.253:44392</Transport>
    <Transport>brunet.udp://130.49.221.41:44392</Transport>
    <Transport>brunet.udp://128.10.19.53:44392</Transport>
    <Transport>brunet.udp://128.83.122.180:44392</Transport>
    <Transport>brunet.udp://131.179.112.71:44392</Transport>
    <Transport>brunet.udp://192.17.239.251:44392</Transport>
    <Transport>brunet.udp://128.119.247.211:44392</Transport>
    <Transport>brunet.udp://152.2.130.67:44392</Transport>
    <Transport>brunet.udp://195.130.121.205:44392</Transport>
    <Transport>brunet.udp://128.223.8.112:44392</Transport>
    <Transport>brunet.udp://128.143.137.250:44392</Transport>
    <Transport>brunet.udp://130.37.198.244:44392</Transport>
    <Transport>brunet.udp://160.94.220.242:44392</Transport>
    <Transport>brunet.udp://169.237.79.211:44392</Transport>
    <Transport>brunet.udp://202.189.126.86:44392</Transport>
    <Transport>brunet.udp://128.193.33.8:44392</Transport>
    <Transport>brunet.udp://132.252.152.194:44392</Transport>
    <Transport>brunet.udp://155.98.35.3:44392</Transport>
    <Transport>brunet.udp://141.161.20.33:44392</Transport>
    <Transport>brunet.udp://193.167.187.188:44392</Transport>
    <Transport>brunet.udp://129.240.67.16:44392</Transport>
    <Transport>brunet.udp://133.11.240.57:44392</Transport>
    <Transport>brunet.udp://193.63.75.19:44392</Transport>
    <Transport>brunet.udp://131.246.19.202:44392</Transport>
    <Transport>brunet.udp://130.104.72.201:44392</Transport>
    <Transport>brunet.udp://138.96.250.223:44392</Transport>
    <Transport>brunet.udp://128.220.247.29:44392</Transport>
    <Transport>brunet.udp://131.246.191.42:44392</Transport>
    <Transport>brunet.udp://129.12.3.75:44392</Transport>
    <Transport>brunet.udp://138.100.12.149:44392</Transport>
    <Transport>brunet.udp://169.229.50.4:44392</Transport>
    <Transport>brunet.udp://63.64.153.83:44392</Transport>
    <Transport>brunet.udp://193.63.58.71:44392</Transport>
    <Transport>brunet.udp://140.112.107.82:44392</Transport>
    <Transport>brunet.udp://195.116.60.34:44392</Transport>
    <Transport>brunet.udp://128.4.36.12:44392</Transport>
    <Transport>brunet.udp://128.238.88.65:44392</Transport>
    <Transport>brunet.udp://200.19.159.35:44392</Transport>
    <Transport>brunet.udp://200.132.0.70:44392</Transport>
    <Transport>brunet.udp://206.117.37.5:44392</Transport>
    <Transport>brunet.udp://192.16.125.12:44392</Transport>
    <Transport>brunet.udp://165.91.83.23:44392</Transport>
    <Transport>brunet.udp://193.1.201.27:44392</Transport>
    <Transport>brunet.udp://129.137.253.252:44392</Transport>
    <Transport>brunet.udp://192.42.43.23:44392</Transport>
    <Transport>brunet.udp://129.93.68.55:44392</Transport>
    <Transport>brunet.udp://193.144.21.131:44392</Transport>
    <Transport>brunet.udp://198.163.152.230:44392</Transport>
    <Transport>brunet.udp://128.2.223.65:44392</Transport>
    <Transport>brunet.udp://128.31.1.13:44392</Transport>
    <Transport>brunet.udp://128.59.20.228:44392</Transport>
    <Transport>brunet.udp://152.3.138.3:44392</Transport>
    <Transport>brunet.udp://128.112.139.73:44392</Transport>
    <Transport>brunet.udp://128.83.122.181:44392</Transport>
    <Transport>brunet.udp://128.135.11.152:44392</Transport>
    <Transport>brunet.udp://128.223.8.113:44392</Transport>
    <Transport>brunet.udp://141.149.218.208:44392</Transport>
    <Transport>brunet.udp://129.186.205.76:44392</Transport>
    <Transport>brunet.udp://138.96.250.224:44392</Transport>
    <Transport>brunet.udp://169.229.50.5:44392</Transport>
    <Transport>brunet.udp://63.64.153.84:44392</Transport>
    <Transport>brunet.udp://128.232.103.203:44392</Transport>
    <Transport>brunet.udp://128.31.1.14:44392</Transport>
    <Transport>brunet.udp://128.112.139.96:44392</Transport>
    <Transport>brunet.udp://141.149.218.209:44392</Transport>
    <Transport>brunet.udp://129.186.205.77:44392</Transport>
    <Transport>brunet.udp://169.229.50.6:44392</Transport>
    <Transport>brunet.udp://63.64.153.85:44392</Transport>
    <Transport>brunet.udp://128.31.1.15:44392</Transport>
    <Transport>brunet.udp://128.112.139.97:44392</Transport>
    <Transport>brunet.udp://169.229.50.7:44392</Transport>
    <Transport>brunet.udp://128.31.1.16:44392</Transport>
    <Transport>brunet.udp://169.229.50.8:44392</Transport>
    <Transport>brunet.udp://128.31.1.17:44392</Transport>
    <Transport>brunet.udp://169.229.50.9:44392</Transport>
    <Transport>brunet.udp://128.112.139.82:44392</Transport>
    <Transport>brunet.udp://169.229.50.10:44392</Transport>
    <Transport>brunet.udp://169.229.50.11:44392</Transport>
    <Transport>brunet.udp://129.10.120.193:44392</Transport>
    <Transport>brunet.udp://129.10.120.194:44392</Transport>
    <Transport>brunet.udp://193.144.21.130:44392</Transport>
    <Transport>brunet.udp://128.114.63.14:44392</Transport>
    <Transport>brunet.udp://128.114.63.15:44392</Transport>
    <Transport>brunet.udp://128.114.63.16:44392</Transport>
    <Transport>brunet.udp://131.215.45.71:44392</Transport>
    <Transport>brunet.udp://131.215.45.72:44392</Transport>
    <Transport>brunet.udp://129.174.79.249:44392</Transport>
    <Transport>brunet.udp://129.174.79.248:44392</Transport>
    <Transport>brunet.udp://204.123.28.53:44392</Transport>
    <Transport>brunet.udp://204.123.28.55:44392</Transport>
    <Transport>brunet.udp://204.123.28.56:44392</Transport>
    <Transport>brunet.udp://220.245.140.196:44392</Transport>
    <Transport>brunet.udp://220.245.140.197:44392</Transport>
    <Transport>brunet.udp://140.247.60.126:44392</Transport>
    <Transport>brunet.udp://219.243.201.33:44392</Transport>
    <Transport>brunet.udp://194.70.143.50:44392</Transport>
    <Transport>brunet.udp://194.70.143.51:44392</Transport>
    <Transport>brunet.udp://219.243.200.113:44392</Transport>
    <Transport>brunet.udp://219.243.200.93:44392</Transport>
    <Transport>brunet.udp://219.243.201.93:44392</Transport>
    <Transport>brunet.udp://128.252.19.20:44392</Transport>
    <Transport>brunet.udp://128.252.19.21:44392</Transport>
    <Transport>brunet.udp://128.252.19.22:44392</Transport>
    <Transport>brunet.udp://219.243.200.77:44392</Transport>
    <Transport>brunet.udp://219.243.201.77:44392</Transport>
    <Transport>brunet.tcp://193.147.162.166:44391</Transport>
    <Transport>brunet.tcp://195.37.16.97:44391</Transport>
    <Transport>brunet.tcp://128.112.139.80:44391</Transport>
    <Transport>brunet.tcp://219.243.206.124:44391</Transport>
    <Transport>brunet.tcp://206.12.16.133:44391</Transport>
    <Transport>brunet.tcp://206.12.16.134:44391</Transport>
    <Transport>brunet.tcp://195.37.16.101:44391</Transport>
    <Transport>brunet.tcp://132.68.237.34:44391</Transport>
    <Transport>brunet.tcp://132.68.237.35:44391</Transport>
    <Transport>brunet.tcp://132.68.237.36:44391</Transport>
    <Transport>brunet.tcp://140.119.164.84:44391</Transport>
    <Transport>brunet.tcp://134.2.172.253:44391</Transport>
    <Transport>brunet.tcp://193.196.39.9:44391</Transport>
    <Transport>brunet.tcp://193.196.39.10:44391</Transport>
    <Transport>brunet.tcp://128.192.101.217:44391</Transport>
    <Transport>brunet.tcp://129.237.161.193:44391</Transport>
    <Transport>brunet.tcp://129.237.161.194:44391</Transport>
    <Transport>brunet.tcp://140.247.60.123:44391</Transport>
    <Transport>brunet.tcp://219.243.200.49:44391</Transport>
    <Transport>brunet.tcp://219.243.201.49:44391</Transport>
    <Transport>brunet.tcp://192.197.121.2:44391</Transport>
    <Transport>brunet.tcp://192.197.121.3:44391</Transport>
    <Transport>brunet.tcp://140.114.79.231:44391</Transport>
    <Transport>brunet.tcp://140.114.79.233:44391</Transport>
    <Transport>brunet.tcp://134.2.172.252:44391</Transport>
    <Transport>brunet.tcp://142.150.238.12:44391</Transport>
    <Transport>brunet.tcp://160.36.57.172:44391</Transport>
    <Transport>brunet.tcp://202.38.99.69:44391</Transport>
    <Transport>brunet.tcp://142.150.238.13:44391</Transport>
    <Transport>brunet.tcp://160.36.57.173:44391</Transport>
    <Transport>brunet.tcp://143.89.126.13:44391</Transport>
    <Transport>brunet.tcp://152.14.92.58:44391</Transport>
    <Transport>brunet.tcp://152.14.92.59:44391</Transport>
    <Transport>brunet.tcp://12.46.129.21:44391</Transport>
    <Transport>brunet.tcp://132.65.240.100:44391</Transport>
    <Transport>brunet.tcp://128.151.65.101:44391</Transport>
    <Transport>brunet.tcp://128.113.226.235:44391</Transport>
    <Transport>brunet.tcp://130.75.87.83:44391</Transport>
    <Transport>brunet.tcp://130.88.203.26:44391</Transport>
    <Transport>brunet.tcp://12.108.127.136:44391</Transport>
    <Transport>brunet.tcp://141.24.33.161:44391</Transport>
    <Transport>brunet.tcp://171.66.3.181:44391</Transport>
    <Transport>brunet.tcp://132.65.240.101:44391</Transport>
    <Transport>brunet.tcp://128.151.65.102:44391</Transport>
    <Transport>brunet.tcp://130.88.203.27:44391</Transport>
    <Transport>brunet.tcp://12.108.127.137:44391</Transport>
    <Transport>brunet.tcp://141.24.33.162:44391</Transport>
    <Transport>brunet.tcp://171.66.3.182:44391</Transport>
    <Transport>brunet.tcp://12.46.129.23:44391</Transport>
    <Transport>brunet.tcp://12.108.127.138:44391</Transport>
    <Transport>brunet.tcp://143.215.128.194:44391</Transport>
    <Transport>brunet.tcp://128.208.4.197:44391</Transport>
    <Transport>brunet.tcp://132.227.74.40:44391</Transport>
    <Transport>brunet.tcp://139.19.142.1:44391</Transport>
    <Transport>brunet.tcp://163.221.11.71:44391</Transport>
    <Transport>brunet.tcp://152.15.98.226:44391</Transport>
    <Transport>brunet.tcp://128.208.4.198:44391</Transport>
    <Transport>brunet.tcp://132.227.74.41:44391</Transport>
    <Transport>brunet.tcp://139.19.142.2:44391</Transport>
    <Transport>brunet.tcp://163.221.11.72:44391</Transport>
    <Transport>brunet.tcp://128.208.4.199:44391</Transport>
    <Transport>brunet.tcp://139.19.142.3:44391</Transport>
    <Transport>brunet.tcp://163.221.11.73:44391</Transport>
    <Transport>brunet.tcp://139.19.142.4:44391</Transport>
    <Transport>brunet.tcp://139.19.142.5:44391</Transport>
    <Transport>brunet.tcp://139.19.142.6:44391</Transport>
    <Transport>brunet.tcp://128.112.139.78:44391</Transport>
    <Transport>brunet.tcp://169.229.50.12:44391</Transport>
    <Transport>brunet.tcp://169.229.50.13:44391</Transport>
    <Transport>brunet.tcp://169.229.50.14:44391</Transport>
    <Transport>brunet.tcp://169.229.50.15:44391</Transport>
    <Transport>brunet.tcp://169.229.50.16:44391</Transport>
    <Transport>brunet.tcp://169.229.50.17:44391</Transport>
    <Transport>brunet.tcp://128.187.223.211:44391</Transport>
    <Transport>brunet.tcp://128.2.223.63:44391</Transport>
    <Transport>brunet.tcp://128.220.231.2:44391</Transport>
    <Transport>brunet.tcp://128.31.1.11:44391</Transport>
    <Transport>brunet.tcp://129.82.12.187:44391</Transport>
    <Transport>brunet.tcp://128.59.20.226:44391</Transport>
    <Transport>brunet.tcp://128.84.154.49:44391</Transport>
    <Transport>brunet.tcp://129.170.214.191:44391</Transport>
    <Transport>brunet.tcp://152.3.138.1:44391</Transport>
    <Transport>brunet.tcp://129.74.152.66:44391</Transport>
    <Transport>brunet.tcp://128.112.139.71:44391</Transport>
    <Transport>brunet.tcp://128.10.19.52:44391</Transport>
    <Transport>brunet.tcp://128.83.122.179:44391</Transport>
    <Transport>brunet.tcp://128.135.11.149:44391</Transport>
    <Transport>brunet.tcp://131.179.112.70:44391</Transport>
    <Transport>brunet.tcp://192.17.239.250:44391</Transport>
    <Transport>brunet.tcp://128.119.247.210:44391</Transport>
    <Transport>brunet.tcp://152.2.130.66:44391</Transport>
    <Transport>brunet.tcp://128.223.8.111:44391</Transport>
    <Transport>brunet.tcp://198.133.224.145:44391</Transport>
    <Transport>brunet.tcp://160.94.220.241:44391</Transport>
    <Transport>brunet.tcp://129.186.205.73:44391</Transport>
    <Transport>brunet.tcp://169.237.79.210:44391</Transport>
    <Transport>brunet.tcp://129.22.150.90:44391</Transport>
    <Transport>brunet.tcp://202.189.126.85:44391</Transport>
    <Transport>brunet.tcp://128.193.33.7:44391</Transport>
    <Transport>brunet.tcp://132.252.152.193:44391</Transport>
    <Transport>brunet.tcp://155.98.35.2:44391</Transport>
    <Transport>brunet.tcp://141.161.20.32:44391</Transport>
    <Transport>brunet.tcp://129.240.67.15:44391</Transport>
    <Transport>brunet.tcp://133.11.240.56:44391</Transport>
    <Transport>brunet.tcp://193.63.75.18:44391</Transport>
    <Transport>brunet.tcp://131.246.19.201:44391</Transport>
    <Transport>brunet.tcp://138.96.250.222:44391</Transport>
    <Transport>brunet.tcp://128.220.247.28:44391</Transport>
    <Transport>brunet.tcp://193.10.133.128:44391</Transport>
    <Transport>brunet.tcp://129.12.3.74:44391</Transport>
    <Transport>brunet.tcp://138.246.99.249:44391</Transport>
    <Transport>brunet.tcp://150.165.15.18:44391</Transport>
    <Transport>brunet.tcp://138.100.12.148:44391</Transport>
    <Transport>brunet.tcp://130.245.145.155:44391</Transport>
    <Transport>brunet.tcp://128.163.142.20:44391</Transport>
    <Transport>brunet.tcp://193.63.58.70:44391</Transport>
    <Transport>brunet.tcp://140.112.107.80:44391</Transport>
    <Transport>brunet.tcp://128.4.36.11:44391</Transport>
    <Transport>brunet.tcp://128.238.88.64:44391</Transport>
    <Transport>brunet.tcp://200.19.159.34:44391</Transport>
    <Transport>brunet.tcp://206.117.37.4:44391</Transport>
    <Transport>brunet.tcp://192.16.125.11:44391</Transport>
    <Transport>brunet.tcp://165.91.83.22:44391</Transport>
    <Transport>brunet.tcp://193.1.201.26:44391</Transport>
    <Transport>brunet.tcp://129.137.253.253:44391</Transport>
    <Transport>brunet.tcp://195.116.60.1:44391</Transport>
    <Transport>brunet.tcp://198.163.152.229:44391</Transport>
    <Transport>brunet.tcp://128.232.103.201:44391</Transport>
    <Transport>brunet.tcp://128.227.56.82:44391</Transport>
    <Transport>brunet.tcp://158.130.6.253:44391</Transport>
    <Transport>brunet.tcp://128.2.223.64:44391</Transport>
    <Transport>brunet.tcp://128.220.231.3:44391</Transport>
    <Transport>brunet.tcp://128.31.1.12:44391</Transport>
    <Transport>brunet.tcp://129.82.12.188:44391</Transport>
    <Transport>brunet.tcp://128.59.20.227:44391</Transport>
    <Transport>brunet.tcp://128.84.154.71:44391</Transport>
    <Transport>brunet.tcp://129.170.214.192:44391</Transport>
    <Transport>brunet.tcp://152.3.138.2:44391</Transport>
    <Transport>brunet.tcp://194.80.38.243:44391</Transport>
    <Transport>brunet.tcp://129.105.44.253:44391</Transport>
    <Transport>brunet.tcp://130.49.221.41:44391</Transport>
    <Transport>brunet.tcp://128.10.19.53:44391</Transport>
    <Transport>brunet.tcp://128.83.122.180:44391</Transport>
    <Transport>brunet.tcp://131.179.112.71:44391</Transport>
    <Transport>brunet.tcp://192.17.239.251:44391</Transport>
    <Transport>brunet.tcp://128.119.247.211:44391</Transport>
    <Transport>brunet.tcp://152.2.130.67:44391</Transport>
    <Transport>brunet.tcp://195.130.121.205:44391</Transport>
    <Transport>brunet.tcp://128.223.8.112:44391</Transport>
    <Transport>brunet.tcp://128.143.137.250:44391</Transport>
    <Transport>brunet.tcp://130.37.198.244:44391</Transport>
    <Transport>brunet.tcp://160.94.220.242:44391</Transport>
    <Transport>brunet.tcp://169.237.79.211:44391</Transport>
    <Transport>brunet.tcp://202.189.126.86:44391</Transport>
    <Transport>brunet.tcp://128.193.33.8:44391</Transport>
    <Transport>brunet.tcp://132.252.152.194:44391</Transport>
    <Transport>brunet.tcp://155.98.35.3:44391</Transport>
    <Transport>brunet.tcp://141.161.20.33:44391</Transport>
    <Transport>brunet.tcp://193.167.187.188:44391</Transport>
    <Transport>brunet.tcp://129.240.67.16:44391</Transport>
    <Transport>brunet.tcp://133.11.240.57:44391</Transport>
    <Transport>brunet.tcp://193.63.75.19:44391</Transport>
    <Transport>brunet.tcp://131.246.19.202:44391</Transport>
    <Transport>brunet.tcp://130.104.72.201:44391</Transport>
    <Transport>brunet.tcp://138.96.250.223:44391</Transport>
    <Transport>brunet.tcp://128.220.247.29:44391</Transport>
    <Transport>brunet.tcp://131.246.191.42:44391</Transport>
    <Transport>brunet.tcp://129.12.3.75:44391</Transport>
    <Transport>brunet.tcp://138.100.12.149:44391</Transport>
    <Transport>brunet.tcp://169.229.50.4:44391</Transport>
    <Transport>brunet.tcp://63.64.153.83:44391</Transport>
    <Transport>brunet.tcp://193.63.58.71:44391</Transport>
    <Transport>brunet.tcp://140.112.107.82:44391</Transport>
    <Transport>brunet.tcp://195.116.60.34:44391</Transport>
    <Transport>brunet.tcp://128.4.36.12:44391</Transport>
    <Transport>brunet.tcp://128.238.88.65:44391</Transport>
    <Transport>brunet.tcp://200.19.159.35:44391</Transport>
    <Transport>brunet.tcp://200.132.0.70:44391</Transport>
    <Transport>brunet.tcp://206.117.37.5:44391</Transport>
    <Transport>brunet.tcp://192.16.125.12:44391</Transport>
    <Transport>brunet.tcp://165.91.83.23:44391</Transport>
    <Transport>brunet.tcp://193.1.201.27:44391</Transport>
    <Transport>brunet.tcp://129.137.253.252:44391</Transport>
    <Transport>brunet.tcp://192.42.43.23:44391</Transport>
    <Transport>brunet.tcp://129.93.68.55:44391</Transport>
    <Transport>brunet.tcp://193.144.21.131:44391</Transport>
    <Transport>brunet.tcp://198.163.152.230:44391</Transport>
    <Transport>brunet.tcp://128.2.223.65:44391</Transport>
    <Transport>brunet.tcp://128.31.1.13:44391</Transport>
    <Transport>brunet.tcp://128.59.20.228:44391</Transport>
    <Transport>brunet.tcp://152.3.138.3:44391</Transport>
    <Transport>brunet.tcp://128.112.139.73:44391</Transport>
    <Transport>brunet.tcp://128.83.122.181:44391</Transport>
    <Transport>brunet.tcp://128.135.11.152:44391</Transport>
    <Transport>brunet.tcp://128.223.8.113:44391</Transport>
    <Transport>brunet.tcp://141.149.218.208:44391</Transport>
    <Transport>brunet.tcp://129.186.205.76:44391</Transport>
    <Transport>brunet.tcp://138.96.250.224:44391</Transport>
    <Transport>brunet.tcp://169.229.50.5:44391</Transport>
    <Transport>brunet.tcp://63.64.153.84:44391</Transport>
    <Transport>brunet.tcp://128.232.103.203:44391</Transport>
    <Transport>brunet.tcp://128.31.1.14:44391</Transport>
    <Transport>brunet.tcp://128.112.139.96:44391</Transport>
    <Transport>brunet.tcp://141.149.218.209:44391</Transport>
    <Transport>brunet.tcp://129.186.205.77:44391</Transport>
    <Transport>brunet.tcp://169.229.50.6:44391</Transport>
    <Transport>brunet.tcp://63.64.153.85:44391</Transport>
    <Transport>brunet.tcp://128.31.1.15:44391</Transport>
    <Transport>brunet.tcp://128.112.139.97:44391</Transport>
    <Transport>brunet.tcp://169.229.50.7:44391</Transport>
    <Transport>brunet.tcp://128.31.1.16:44391</Transport>
    <Transport>brunet.tcp://169.229.50.8:44391</Transport>
    <Transport>brunet.tcp://128.31.1.17:44391</Transport>
    <Transport>brunet.tcp://169.229.50.9:44391</Transport>
    <Transport>brunet.tcp://128.112.139.82:44391</Transport>
    <Transport>brunet.tcp://169.229.50.10:44391</Transport>
    <Transport>brunet.tcp://169.229.50.11:44391</Transport>
    <Transport>brunet.tcp://129.10.120.193:44391</Transport>
    <Transport>brunet.tcp://129.10.120.194:44391</Transport>
    <Transport>brunet.tcp://193.144.21.130:44391</Transport>
    <Transport>brunet.tcp://128.114.63.14:44391</Transport>
    <Transport>brunet.tcp://128.114.63.15:44391</Transport>
    <Transport>brunet.tcp://128.114.63.16:44391</Transport>
    <Transport>brunet.tcp://131.215.45.71:44391</Transport>
    <Transport>brunet.tcp://131.215.45.72:44391</Transport>
    <Transport>brunet.tcp://129.174.79.249:44391</Transport>
    <Transport>brunet.tcp://129.174.79.248:44391</Transport>
    <Transport>brunet.tcp://204.123.28.53:44391</Transport>
    <Transport>brunet.tcp://204.123.28.55:44391</Transport>
    <Transport>brunet.tcp://204.123.28.56:44391</Transport>
    <Transport>brunet.tcp://220.245.140.196:44391</Transport>
    <Transport>brunet.tcp://220.245.140.197:44391</Transport>
    <Transport>brunet.tcp://140.247.60.126:44391</Transport>
    <Transport>brunet.tcp://219.243.201.33:44391</Transport>
    <Transport>brunet.tcp://194.70.143.50:44391</Transport>
    <Transport>brunet.tcp://194.70.143.51:44391</Transport>
    <Transport>brunet.tcp://219.243.200.113:44391</Transport>
    <Transport>brunet.tcp://219.243.200.93:44391</Transport>
    <Transport>brunet.tcp://219.243.201.93:44391</Transport>
    <Transport>brunet.tcp://128.252.19.20:44391</Transport>
    <Transport>brunet.tcp://128.252.19.21:44391</Transport>
    <Transport>brunet.tcp://128.252.19.22:44391</Transport>
    <Transport>brunet.tcp://219.243.200.77:44391</Transport>
    <Transport>brunet.tcp://219.243.201.77:44391</Transport>
  </RemoteTAs>
  <EdgeListeners>
    <EdgeListener type="udp">
      <port>0</port>
    </EdgeListener>
    <EdgeListener type="tcp">
      <port>0</port>
    </EdgeListener>
  </EdgeListeners>
  <DevicesToBind />
  <RpcDht>
    <Enabled>false</Enabled>
    <Port>64221</Port>
  </RpcDht>
  <XmlRpcManager>
    <Enabled>false</Enabled>
    <Port>10000</Port>
  </XmlRpcManager>
  <NCService>
    <Enabled>true</Enabled>
    <OptimizeShortcuts>true</OptimizeShortcuts>
    <Checkpointing>false</Checkpointing>
  </NCService>
  <Security>
    <Enabled>true</Enabled>
    <SecureEdges>false</SecureEdges>
    <TestEnable>false</TestEnable>
    <SelfSignedCertificates>true</SelfSignedCertificates>
    <KeyPath>private_key</KeyPath>
    <CertificatePath>certificates</CertificatePath>
  </Security>
</NodeConfig>
