<?xml version="1.0" encoding="utf-8"?>
<NodeConfig>
  <BrunetNamespace>ufl_svpn_030</BrunetNamespace>
  <EdgeListeners>
    <EdgeListener type="udp">
      <port>0</port>
    </EdgeListener>
    <EdgeListener type="tcp">
      <port>0</port>
    </EdgeListener>
  </EdgeListeners>
  <XmlRpcManager>
    <Enabled>false</Enabled>
    <Port>10001</Port>
  </XmlRpcManager>
  <DevicesToBind>
    <Device>eth0</Device>
  </DevicesToBind>
  <Security>
    <Enabled>true</Enabled>
    <SecureEdges>false</SecureEdges>
    <TestEnable>false</TestEnable>
    <SelfSignedCertificates>true</SelfSignedCertificates>
    <KeyPath>private_key</KeyPath>
    <CertificatePath>certificates</CertificatePath>
  </Security>
  <NCService>
    <Enabled>true</Enabled>
    <OptimizeShortcuts>true</OptimizeShortcuts>
    <Checkpointing>true</Checkpointing>
  </NCService>
  <RemoteTAs>
    <Transport>brunet.udp://193.147.162.166:54593</Transport>
    <Transport>brunet.udp://195.37.16.97:54593</Transport>
    <Transport>brunet.udp://128.112.139.80:54593</Transport>
    <Transport>brunet.udp://219.243.206.124:54593</Transport>
    <Transport>brunet.udp://206.12.16.133:54593</Transport>
    <Transport>brunet.udp://206.12.16.134:54593</Transport>
    <Transport>brunet.udp://195.37.16.101:54593</Transport>
    <Transport>brunet.udp://132.68.237.34:54593</Transport>
    <Transport>brunet.udp://132.68.237.35:54593</Transport>
    <Transport>brunet.udp://132.68.237.36:54593</Transport>
    <Transport>brunet.udp://140.119.164.84:54593</Transport>
    <Transport>brunet.udp://134.2.172.253:54593</Transport>
    <Transport>brunet.udp://193.196.39.9:54593</Transport>
    <Transport>brunet.udp://193.196.39.10:54593</Transport>
    <Transport>brunet.udp://128.192.101.217:54593</Transport>
    <Transport>brunet.udp://129.237.161.193:54593</Transport>
    <Transport>brunet.udp://129.237.161.194:54593</Transport>
    <Transport>brunet.udp://140.247.60.123:54593</Transport>
    <Transport>brunet.udp://219.243.200.49:54593</Transport>
    <Transport>brunet.udp://219.243.201.49:54593</Transport>
    <Transport>brunet.udp://192.197.121.2:54593</Transport>
    <Transport>brunet.udp://192.197.121.3:54593</Transport>
    <Transport>brunet.udp://140.114.79.231:54593</Transport>
    <Transport>brunet.udp://140.114.79.233:54593</Transport>
    <Transport>brunet.udp://134.2.172.252:54593</Transport>
    <Transport>brunet.udp://142.150.238.12:54593</Transport>
    <Transport>brunet.udp://160.36.57.172:54593</Transport>
    <Transport>brunet.udp://202.38.99.69:54593</Transport>
    <Transport>brunet.udp://142.150.238.13:54593</Transport>
    <Transport>brunet.udp://160.36.57.173:54593</Transport>
    <Transport>brunet.udp://143.89.126.13:54593</Transport>
    <Transport>brunet.udp://152.14.92.58:54593</Transport>
    <Transport>brunet.udp://152.14.92.59:54593</Transport>
    <Transport>brunet.udp://12.46.129.21:54593</Transport>
    <Transport>brunet.udp://132.65.240.100:54593</Transport>
    <Transport>brunet.udp://128.151.65.101:54593</Transport>
    <Transport>brunet.udp://128.113.226.235:54593</Transport>
    <Transport>brunet.udp://130.75.87.83:54593</Transport>
    <Transport>brunet.udp://130.88.203.26:54593</Transport>
    <Transport>brunet.udp://12.108.127.136:54593</Transport>
    <Transport>brunet.udp://141.24.33.161:54593</Transport>
    <Transport>brunet.udp://171.66.3.181:54593</Transport>
    <Transport>brunet.udp://132.65.240.101:54593</Transport>
    <Transport>brunet.udp://128.151.65.102:54593</Transport>
    <Transport>brunet.udp://130.88.203.27:54593</Transport>
    <Transport>brunet.udp://12.108.127.137:54593</Transport>
    <Transport>brunet.udp://141.24.33.162:54593</Transport>
    <Transport>brunet.udp://171.66.3.182:54593</Transport>
    <Transport>brunet.udp://12.46.129.23:54593</Transport>
    <Transport>brunet.udp://12.108.127.138:54593</Transport>
    <Transport>brunet.udp://143.215.128.194:54593</Transport>
    <Transport>brunet.udp://128.208.4.197:54593</Transport>
    <Transport>brunet.udp://132.227.74.40:54593</Transport>
    <Transport>brunet.udp://139.19.142.1:54593</Transport>
    <Transport>brunet.udp://163.221.11.71:54593</Transport>
    <Transport>brunet.udp://152.15.98.226:54593</Transport>
    <Transport>brunet.udp://128.208.4.198:54593</Transport>
    <Transport>brunet.udp://132.227.74.41:54593</Transport>
    <Transport>brunet.udp://139.19.142.2:54593</Transport>
    <Transport>brunet.udp://163.221.11.72:54593</Transport>
    <Transport>brunet.udp://128.208.4.199:54593</Transport>
    <Transport>brunet.udp://139.19.142.3:54593</Transport>
    <Transport>brunet.udp://163.221.11.73:54593</Transport>
    <Transport>brunet.udp://139.19.142.4:54593</Transport>
    <Transport>brunet.udp://139.19.142.5:54593</Transport>
    <Transport>brunet.udp://139.19.142.6:54593</Transport>
    <Transport>brunet.udp://128.112.139.78:54593</Transport>
    <Transport>brunet.udp://169.229.50.12:54593</Transport>
    <Transport>brunet.udp://169.229.50.13:54593</Transport>
    <Transport>brunet.udp://169.229.50.14:54593</Transport>
    <Transport>brunet.udp://169.229.50.15:54593</Transport>
    <Transport>brunet.udp://169.229.50.16:54593</Transport>
    <Transport>brunet.udp://169.229.50.17:54593</Transport>
    <Transport>brunet.udp://128.187.223.211:54593</Transport>
    <Transport>brunet.udp://128.2.223.63:54593</Transport>
    <Transport>brunet.udp://128.220.231.2:54593</Transport>
    <Transport>brunet.udp://128.31.1.11:54593</Transport>
    <Transport>brunet.udp://129.82.12.187:54593</Transport>
    <Transport>brunet.udp://128.59.20.226:54593</Transport>
    <Transport>brunet.udp://128.84.154.49:54593</Transport>
    <Transport>brunet.udp://129.170.214.191:54593</Transport>
    <Transport>brunet.udp://152.3.138.1:54593</Transport>
    <Transport>brunet.udp://129.74.152.66:54593</Transport>
    <Transport>brunet.udp://128.112.139.71:54593</Transport>
    <Transport>brunet.udp://128.10.19.52:54593</Transport>
    <Transport>brunet.udp://128.83.122.179:54593</Transport>
    <Transport>brunet.udp://128.135.11.149:54593</Transport>
    <Transport>brunet.udp://131.179.112.70:54593</Transport>
    <Transport>brunet.udp://192.17.239.250:54593</Transport>
    <Transport>brunet.udp://128.119.247.210:54593</Transport>
    <Transport>brunet.udp://152.2.130.66:54593</Transport>
    <Transport>brunet.udp://128.223.8.111:54593</Transport>
    <Transport>brunet.udp://198.133.224.145:54593</Transport>
    <Transport>brunet.udp://160.94.220.241:54593</Transport>
    <Transport>brunet.udp://129.186.205.73:54593</Transport>
    <Transport>brunet.udp://169.237.79.210:54593</Transport>
    <Transport>brunet.udp://129.22.150.90:54593</Transport>
    <Transport>brunet.udp://202.189.126.85:54593</Transport>
    <Transport>brunet.udp://128.193.33.7:54593</Transport>
    <Transport>brunet.udp://132.252.152.193:54593</Transport>
    <Transport>brunet.udp://155.98.35.2:54593</Transport>
    <Transport>brunet.udp://141.161.20.32:54593</Transport>
    <Transport>brunet.udp://129.240.67.15:54593</Transport>
    <Transport>brunet.udp://133.11.240.56:54593</Transport>
    <Transport>brunet.udp://193.63.75.18:54593</Transport>
    <Transport>brunet.udp://131.246.19.201:54593</Transport>
    <Transport>brunet.udp://138.96.250.222:54593</Transport>
    <Transport>brunet.udp://128.220.247.28:54593</Transport>
    <Transport>brunet.udp://193.10.133.128:54593</Transport>
    <Transport>brunet.udp://129.12.3.74:54593</Transport>
    <Transport>brunet.udp://138.246.99.249:54593</Transport>
    <Transport>brunet.udp://150.165.15.18:54593</Transport>
    <Transport>brunet.udp://138.100.12.148:54593</Transport>
    <Transport>brunet.udp://130.245.145.155:54593</Transport>
    <Transport>brunet.udp://128.163.142.20:54593</Transport>
    <Transport>brunet.udp://193.63.58.70:54593</Transport>
    <Transport>brunet.udp://140.112.107.80:54593</Transport>
    <Transport>brunet.udp://128.4.36.11:54593</Transport>
    <Transport>brunet.udp://128.238.88.64:54593</Transport>
    <Transport>brunet.udp://200.19.159.34:54593</Transport>
    <Transport>brunet.udp://206.117.37.4:54593</Transport>
    <Transport>brunet.udp://192.16.125.11:54593</Transport>
    <Transport>brunet.udp://165.91.83.22:54593</Transport>
    <Transport>brunet.udp://193.1.201.26:54593</Transport>
    <Transport>brunet.udp://129.137.253.253:54593</Transport>
    <Transport>brunet.udp://195.116.60.1:54593</Transport>
    <Transport>brunet.udp://198.163.152.229:54593</Transport>
    <Transport>brunet.udp://128.232.103.201:54593</Transport>
    <Transport>brunet.udp://128.227.56.82:54593</Transport>
    <Transport>brunet.udp://158.130.6.253:54593</Transport>
    <Transport>brunet.udp://128.2.223.64:54593</Transport>
    <Transport>brunet.udp://128.220.231.3:54593</Transport>
    <Transport>brunet.udp://128.31.1.12:54593</Transport>
    <Transport>brunet.udp://129.82.12.188:54593</Transport>
    <Transport>brunet.udp://128.59.20.227:54593</Transport>
    <Transport>brunet.udp://128.84.154.71:54593</Transport>
    <Transport>brunet.udp://129.170.214.192:54593</Transport>
    <Transport>brunet.udp://152.3.138.2:54593</Transport>
    <Transport>brunet.udp://194.80.38.243:54593</Transport>
    <Transport>brunet.udp://129.105.44.253:54593</Transport>
    <Transport>brunet.udp://130.49.221.41:54593</Transport>
    <Transport>brunet.udp://128.10.19.53:54593</Transport>
    <Transport>brunet.udp://128.83.122.180:54593</Transport>
    <Transport>brunet.udp://131.179.112.71:54593</Transport>
    <Transport>brunet.udp://192.17.239.251:54593</Transport>
    <Transport>brunet.udp://128.119.247.211:54593</Transport>
    <Transport>brunet.udp://152.2.130.67:54593</Transport>
    <Transport>brunet.udp://195.130.121.205:54593</Transport>
    <Transport>brunet.udp://128.223.8.112:54593</Transport>
    <Transport>brunet.udp://128.143.137.250:54593</Transport>
    <Transport>brunet.udp://130.37.198.244:54593</Transport>
    <Transport>brunet.udp://160.94.220.242:54593</Transport>
    <Transport>brunet.udp://169.237.79.211:54593</Transport>
    <Transport>brunet.udp://202.189.126.86:54593</Transport>
    <Transport>brunet.udp://128.193.33.8:54593</Transport>
    <Transport>brunet.udp://132.252.152.194:54593</Transport>
    <Transport>brunet.udp://155.98.35.3:54593</Transport>
    <Transport>brunet.udp://141.161.20.33:54593</Transport>
    <Transport>brunet.udp://193.167.187.188:54593</Transport>
    <Transport>brunet.udp://129.240.67.16:54593</Transport>
    <Transport>brunet.udp://133.11.240.57:54593</Transport>
    <Transport>brunet.udp://193.63.75.19:54593</Transport>
    <Transport>brunet.udp://131.246.19.202:54593</Transport>
    <Transport>brunet.udp://130.104.72.201:54593</Transport>
    <Transport>brunet.udp://138.96.250.223:54593</Transport>
    <Transport>brunet.udp://128.220.247.29:54593</Transport>
    <Transport>brunet.udp://131.246.191.42:54593</Transport>
    <Transport>brunet.udp://129.12.3.75:54593</Transport>
    <Transport>brunet.udp://138.100.12.149:54593</Transport>
    <Transport>brunet.udp://169.229.50.4:54593</Transport>
    <Transport>brunet.udp://63.64.153.83:54593</Transport>
    <Transport>brunet.udp://193.63.58.71:54593</Transport>
    <Transport>brunet.udp://140.112.107.82:54593</Transport>
    <Transport>brunet.udp://195.116.60.34:54593</Transport>
    <Transport>brunet.udp://128.4.36.12:54593</Transport>
    <Transport>brunet.udp://128.238.88.65:54593</Transport>
    <Transport>brunet.udp://200.19.159.35:54593</Transport>
    <Transport>brunet.udp://200.132.0.70:54593</Transport>
    <Transport>brunet.udp://206.117.37.5:54593</Transport>
    <Transport>brunet.udp://192.16.125.12:54593</Transport>
    <Transport>brunet.udp://165.91.83.23:54593</Transport>
    <Transport>brunet.udp://193.1.201.27:54593</Transport>
    <Transport>brunet.udp://129.137.253.252:54593</Transport>
    <Transport>brunet.udp://192.42.43.23:54593</Transport>
    <Transport>brunet.udp://129.93.68.55:54593</Transport>
    <Transport>brunet.udp://193.144.21.131:54593</Transport>
    <Transport>brunet.udp://198.163.152.230:54593</Transport>
    <Transport>brunet.udp://128.2.223.65:54593</Transport>
    <Transport>brunet.udp://128.31.1.13:54593</Transport>
    <Transport>brunet.udp://128.59.20.228:54593</Transport>
    <Transport>brunet.udp://152.3.138.3:54593</Transport>
    <Transport>brunet.udp://128.112.139.73:54593</Transport>
    <Transport>brunet.udp://128.83.122.181:54593</Transport>
    <Transport>brunet.udp://128.135.11.152:54593</Transport>
    <Transport>brunet.udp://128.223.8.113:54593</Transport>
    <Transport>brunet.udp://141.149.218.208:54593</Transport>
    <Transport>brunet.udp://129.186.205.76:54593</Transport>
    <Transport>brunet.udp://138.96.250.224:54593</Transport>
    <Transport>brunet.udp://169.229.50.5:54593</Transport>
    <Transport>brunet.udp://63.64.153.84:54593</Transport>
    <Transport>brunet.udp://128.232.103.203:54593</Transport>
    <Transport>brunet.udp://128.31.1.14:54593</Transport>
    <Transport>brunet.udp://128.112.139.96:54593</Transport>
    <Transport>brunet.udp://141.149.218.209:54593</Transport>
    <Transport>brunet.udp://129.186.205.77:54593</Transport>
    <Transport>brunet.udp://169.229.50.6:54593</Transport>
    <Transport>brunet.udp://63.64.153.85:54593</Transport>
    <Transport>brunet.udp://128.31.1.15:54593</Transport>
    <Transport>brunet.udp://128.112.139.97:54593</Transport>
    <Transport>brunet.udp://169.229.50.7:54593</Transport>
    <Transport>brunet.udp://128.31.1.16:54593</Transport>
    <Transport>brunet.udp://169.229.50.8:54593</Transport>
    <Transport>brunet.udp://128.31.1.17:54593</Transport>
    <Transport>brunet.udp://169.229.50.9:54593</Transport>
    <Transport>brunet.udp://128.112.139.82:54593</Transport>
    <Transport>brunet.udp://169.229.50.10:54593</Transport>
    <Transport>brunet.udp://169.229.50.11:54593</Transport>
    <Transport>brunet.udp://129.10.120.193:54593</Transport>
    <Transport>brunet.udp://129.10.120.194:54593</Transport>
    <Transport>brunet.udp://193.144.21.130:54593</Transport>
    <Transport>brunet.udp://128.114.63.14:54593</Transport>
    <Transport>brunet.udp://128.114.63.15:54593</Transport>
    <Transport>brunet.udp://128.114.63.16:54593</Transport>
    <Transport>brunet.udp://131.215.45.71:54593</Transport>
    <Transport>brunet.udp://131.215.45.72:54593</Transport>
    <Transport>brunet.udp://129.174.79.249:54593</Transport>
    <Transport>brunet.udp://129.174.79.248:54593</Transport>
    <Transport>brunet.udp://204.123.28.53:54593</Transport>
    <Transport>brunet.udp://204.123.28.55:54593</Transport>
    <Transport>brunet.udp://204.123.28.56:54593</Transport>
    <Transport>brunet.udp://220.245.140.196:54593</Transport>
    <Transport>brunet.udp://220.245.140.197:54593</Transport>
    <Transport>brunet.udp://140.247.60.126:54593</Transport>
    <Transport>brunet.udp://219.243.201.33:54593</Transport>
    <Transport>brunet.udp://194.70.143.50:54593</Transport>
    <Transport>brunet.udp://194.70.143.51:54593</Transport>
    <Transport>brunet.udp://219.243.200.113:54593</Transport>
    <Transport>brunet.udp://219.243.200.93:54593</Transport>
    <Transport>brunet.udp://219.243.201.93:54593</Transport>
    <Transport>brunet.udp://128.252.19.20:54593</Transport>
    <Transport>brunet.udp://128.252.19.21:54593</Transport>
    <Transport>brunet.udp://128.252.19.22:54593</Transport>
    <Transport>brunet.udp://219.243.200.77:54593</Transport>
    <Transport>brunet.udp://219.243.201.77:54593</Transport>
    <Transport>brunet.tcp://193.147.162.166:54593</Transport>
    <Transport>brunet.tcp://195.37.16.97:54593</Transport>
    <Transport>brunet.tcp://128.112.139.80:54593</Transport>
    <Transport>brunet.tcp://219.243.206.124:54593</Transport>
    <Transport>brunet.tcp://206.12.16.133:54593</Transport>
    <Transport>brunet.tcp://206.12.16.134:54593</Transport>
    <Transport>brunet.tcp://195.37.16.101:54593</Transport>
    <Transport>brunet.tcp://132.68.237.34:54593</Transport>
    <Transport>brunet.tcp://132.68.237.35:54593</Transport>
    <Transport>brunet.tcp://132.68.237.36:54593</Transport>
    <Transport>brunet.tcp://140.119.164.84:54593</Transport>
    <Transport>brunet.tcp://134.2.172.253:54593</Transport>
    <Transport>brunet.tcp://193.196.39.9:54593</Transport>
    <Transport>brunet.tcp://193.196.39.10:54593</Transport>
    <Transport>brunet.tcp://128.192.101.217:54593</Transport>
    <Transport>brunet.tcp://129.237.161.193:54593</Transport>
    <Transport>brunet.tcp://129.237.161.194:54593</Transport>
    <Transport>brunet.tcp://140.247.60.123:54593</Transport>
    <Transport>brunet.tcp://219.243.200.49:54593</Transport>
    <Transport>brunet.tcp://219.243.201.49:54593</Transport>
    <Transport>brunet.tcp://192.197.121.2:54593</Transport>
    <Transport>brunet.tcp://192.197.121.3:54593</Transport>
    <Transport>brunet.tcp://140.114.79.231:54593</Transport>
    <Transport>brunet.tcp://140.114.79.233:54593</Transport>
    <Transport>brunet.tcp://134.2.172.252:54593</Transport>
    <Transport>brunet.tcp://142.150.238.12:54593</Transport>
    <Transport>brunet.tcp://160.36.57.172:54593</Transport>
    <Transport>brunet.tcp://202.38.99.69:54593</Transport>
    <Transport>brunet.tcp://142.150.238.13:54593</Transport>
    <Transport>brunet.tcp://160.36.57.173:54593</Transport>
    <Transport>brunet.tcp://143.89.126.13:54593</Transport>
    <Transport>brunet.tcp://152.14.92.58:54593</Transport>
    <Transport>brunet.tcp://152.14.92.59:54593</Transport>
    <Transport>brunet.tcp://12.46.129.21:54593</Transport>
    <Transport>brunet.tcp://132.65.240.100:54593</Transport>
    <Transport>brunet.tcp://128.151.65.101:54593</Transport>
    <Transport>brunet.tcp://128.113.226.235:54593</Transport>
    <Transport>brunet.tcp://130.75.87.83:54593</Transport>
    <Transport>brunet.tcp://130.88.203.26:54593</Transport>
    <Transport>brunet.tcp://12.108.127.136:54593</Transport>
    <Transport>brunet.tcp://141.24.33.161:54593</Transport>
    <Transport>brunet.tcp://171.66.3.181:54593</Transport>
    <Transport>brunet.tcp://132.65.240.101:54593</Transport>
    <Transport>brunet.tcp://128.151.65.102:54593</Transport>
    <Transport>brunet.tcp://130.88.203.27:54593</Transport>
    <Transport>brunet.tcp://12.108.127.137:54593</Transport>
    <Transport>brunet.tcp://141.24.33.162:54593</Transport>
    <Transport>brunet.tcp://171.66.3.182:54593</Transport>
    <Transport>brunet.tcp://12.46.129.23:54593</Transport>
    <Transport>brunet.tcp://12.108.127.138:54593</Transport>
    <Transport>brunet.tcp://143.215.128.194:54593</Transport>
    <Transport>brunet.tcp://128.208.4.197:54593</Transport>
    <Transport>brunet.tcp://132.227.74.40:54593</Transport>
    <Transport>brunet.tcp://139.19.142.1:54593</Transport>
    <Transport>brunet.tcp://163.221.11.71:54593</Transport>
    <Transport>brunet.tcp://152.15.98.226:54593</Transport>
    <Transport>brunet.tcp://128.208.4.198:54593</Transport>
    <Transport>brunet.tcp://132.227.74.41:54593</Transport>
    <Transport>brunet.tcp://139.19.142.2:54593</Transport>
    <Transport>brunet.tcp://163.221.11.72:54593</Transport>
    <Transport>brunet.tcp://128.208.4.199:54593</Transport>
    <Transport>brunet.tcp://139.19.142.3:54593</Transport>
    <Transport>brunet.tcp://163.221.11.73:54593</Transport>
    <Transport>brunet.tcp://139.19.142.4:54593</Transport>
    <Transport>brunet.tcp://139.19.142.5:54593</Transport>
    <Transport>brunet.tcp://139.19.142.6:54593</Transport>
    <Transport>brunet.tcp://128.112.139.78:54593</Transport>
    <Transport>brunet.tcp://169.229.50.12:54593</Transport>
    <Transport>brunet.tcp://169.229.50.13:54593</Transport>
    <Transport>brunet.tcp://169.229.50.14:54593</Transport>
    <Transport>brunet.tcp://169.229.50.15:54593</Transport>
    <Transport>brunet.tcp://169.229.50.16:54593</Transport>
    <Transport>brunet.tcp://169.229.50.17:54593</Transport>
    <Transport>brunet.tcp://128.187.223.211:54593</Transport>
    <Transport>brunet.tcp://128.2.223.63:54593</Transport>
    <Transport>brunet.tcp://128.220.231.2:54593</Transport>
    <Transport>brunet.tcp://128.31.1.11:54593</Transport>
    <Transport>brunet.tcp://129.82.12.187:54593</Transport>
    <Transport>brunet.tcp://128.59.20.226:54593</Transport>
    <Transport>brunet.tcp://128.84.154.49:54593</Transport>
    <Transport>brunet.tcp://129.170.214.191:54593</Transport>
    <Transport>brunet.tcp://152.3.138.1:54593</Transport>
    <Transport>brunet.tcp://129.74.152.66:54593</Transport>
    <Transport>brunet.tcp://128.112.139.71:54593</Transport>
    <Transport>brunet.tcp://128.10.19.52:54593</Transport>
    <Transport>brunet.tcp://128.83.122.179:54593</Transport>
    <Transport>brunet.tcp://128.135.11.149:54593</Transport>
    <Transport>brunet.tcp://131.179.112.70:54593</Transport>
    <Transport>brunet.tcp://192.17.239.250:54593</Transport>
    <Transport>brunet.tcp://128.119.247.210:54593</Transport>
    <Transport>brunet.tcp://152.2.130.66:54593</Transport>
    <Transport>brunet.tcp://128.223.8.111:54593</Transport>
    <Transport>brunet.tcp://198.133.224.145:54593</Transport>
    <Transport>brunet.tcp://160.94.220.241:54593</Transport>
    <Transport>brunet.tcp://129.186.205.73:54593</Transport>
    <Transport>brunet.tcp://169.237.79.210:54593</Transport>
    <Transport>brunet.tcp://129.22.150.90:54593</Transport>
    <Transport>brunet.tcp://202.189.126.85:54593</Transport>
    <Transport>brunet.tcp://128.193.33.7:54593</Transport>
    <Transport>brunet.tcp://132.252.152.193:54593</Transport>
    <Transport>brunet.tcp://155.98.35.2:54593</Transport>
    <Transport>brunet.tcp://141.161.20.32:54593</Transport>
    <Transport>brunet.tcp://129.240.67.15:54593</Transport>
    <Transport>brunet.tcp://133.11.240.56:54593</Transport>
    <Transport>brunet.tcp://193.63.75.18:54593</Transport>
    <Transport>brunet.tcp://131.246.19.201:54593</Transport>
    <Transport>brunet.tcp://138.96.250.222:54593</Transport>
    <Transport>brunet.tcp://128.220.247.28:54593</Transport>
    <Transport>brunet.tcp://193.10.133.128:54593</Transport>
    <Transport>brunet.tcp://129.12.3.74:54593</Transport>
    <Transport>brunet.tcp://138.246.99.249:54593</Transport>
    <Transport>brunet.tcp://150.165.15.18:54593</Transport>
    <Transport>brunet.tcp://138.100.12.148:54593</Transport>
    <Transport>brunet.tcp://130.245.145.155:54593</Transport>
    <Transport>brunet.tcp://128.163.142.20:54593</Transport>
    <Transport>brunet.tcp://193.63.58.70:54593</Transport>
    <Transport>brunet.tcp://140.112.107.80:54593</Transport>
    <Transport>brunet.tcp://128.4.36.11:54593</Transport>
    <Transport>brunet.tcp://128.238.88.64:54593</Transport>
    <Transport>brunet.tcp://200.19.159.34:54593</Transport>
    <Transport>brunet.tcp://206.117.37.4:54593</Transport>
    <Transport>brunet.tcp://192.16.125.11:54593</Transport>
    <Transport>brunet.tcp://165.91.83.22:54593</Transport>
    <Transport>brunet.tcp://193.1.201.26:54593</Transport>
    <Transport>brunet.tcp://129.137.253.253:54593</Transport>
    <Transport>brunet.tcp://195.116.60.1:54593</Transport>
    <Transport>brunet.tcp://198.163.152.229:54593</Transport>
    <Transport>brunet.tcp://128.232.103.201:54593</Transport>
    <Transport>brunet.tcp://128.227.56.82:54593</Transport>
    <Transport>brunet.tcp://158.130.6.253:54593</Transport>
    <Transport>brunet.tcp://128.2.223.64:54593</Transport>
    <Transport>brunet.tcp://128.220.231.3:54593</Transport>
    <Transport>brunet.tcp://128.31.1.12:54593</Transport>
    <Transport>brunet.tcp://129.82.12.188:54593</Transport>
    <Transport>brunet.tcp://128.59.20.227:54593</Transport>
    <Transport>brunet.tcp://128.84.154.71:54593</Transport>
    <Transport>brunet.tcp://129.170.214.192:54593</Transport>
    <Transport>brunet.tcp://152.3.138.2:54593</Transport>
    <Transport>brunet.tcp://194.80.38.243:54593</Transport>
    <Transport>brunet.tcp://129.105.44.253:54593</Transport>
    <Transport>brunet.tcp://130.49.221.41:54593</Transport>
    <Transport>brunet.tcp://128.10.19.53:54593</Transport>
    <Transport>brunet.tcp://128.83.122.180:54593</Transport>
    <Transport>brunet.tcp://131.179.112.71:54593</Transport>
    <Transport>brunet.tcp://192.17.239.251:54593</Transport>
    <Transport>brunet.tcp://128.119.247.211:54593</Transport>
    <Transport>brunet.tcp://152.2.130.67:54593</Transport>
    <Transport>brunet.tcp://195.130.121.205:54593</Transport>
    <Transport>brunet.tcp://128.223.8.112:54593</Transport>
    <Transport>brunet.tcp://128.143.137.250:54593</Transport>
    <Transport>brunet.tcp://130.37.198.244:54593</Transport>
    <Transport>brunet.tcp://160.94.220.242:54593</Transport>
    <Transport>brunet.tcp://169.237.79.211:54593</Transport>
    <Transport>brunet.tcp://202.189.126.86:54593</Transport>
    <Transport>brunet.tcp://128.193.33.8:54593</Transport>
    <Transport>brunet.tcp://132.252.152.194:54593</Transport>
    <Transport>brunet.tcp://155.98.35.3:54593</Transport>
    <Transport>brunet.tcp://141.161.20.33:54593</Transport>
    <Transport>brunet.tcp://193.167.187.188:54593</Transport>
    <Transport>brunet.tcp://129.240.67.16:54593</Transport>
    <Transport>brunet.tcp://133.11.240.57:54593</Transport>
    <Transport>brunet.tcp://193.63.75.19:54593</Transport>
    <Transport>brunet.tcp://131.246.19.202:54593</Transport>
    <Transport>brunet.tcp://130.104.72.201:54593</Transport>
    <Transport>brunet.tcp://138.96.250.223:54593</Transport>
    <Transport>brunet.tcp://128.220.247.29:54593</Transport>
    <Transport>brunet.tcp://131.246.191.42:54593</Transport>
    <Transport>brunet.tcp://129.12.3.75:54593</Transport>
    <Transport>brunet.tcp://138.100.12.149:54593</Transport>
    <Transport>brunet.tcp://169.229.50.4:54593</Transport>
    <Transport>brunet.tcp://63.64.153.83:54593</Transport>
    <Transport>brunet.tcp://193.63.58.71:54593</Transport>
    <Transport>brunet.tcp://140.112.107.82:54593</Transport>
    <Transport>brunet.tcp://195.116.60.34:54593</Transport>
    <Transport>brunet.tcp://128.4.36.12:54593</Transport>
    <Transport>brunet.tcp://128.238.88.65:54593</Transport>
    <Transport>brunet.tcp://200.19.159.35:54593</Transport>
    <Transport>brunet.tcp://200.132.0.70:54593</Transport>
    <Transport>brunet.tcp://206.117.37.5:54593</Transport>
    <Transport>brunet.tcp://192.16.125.12:54593</Transport>
    <Transport>brunet.tcp://165.91.83.23:54593</Transport>
    <Transport>brunet.tcp://193.1.201.27:54593</Transport>
    <Transport>brunet.tcp://129.137.253.252:54593</Transport>
    <Transport>brunet.tcp://192.42.43.23:54593</Transport>
    <Transport>brunet.tcp://129.93.68.55:54593</Transport>
    <Transport>brunet.tcp://193.144.21.131:54593</Transport>
    <Transport>brunet.tcp://198.163.152.230:54593</Transport>
    <Transport>brunet.tcp://128.2.223.65:54593</Transport>
    <Transport>brunet.tcp://128.31.1.13:54593</Transport>
    <Transport>brunet.tcp://128.59.20.228:54593</Transport>
    <Transport>brunet.tcp://152.3.138.3:54593</Transport>
    <Transport>brunet.tcp://128.112.139.73:54593</Transport>
    <Transport>brunet.tcp://128.83.122.181:54593</Transport>
    <Transport>brunet.tcp://128.135.11.152:54593</Transport>
    <Transport>brunet.tcp://128.223.8.113:54593</Transport>
    <Transport>brunet.tcp://141.149.218.208:54593</Transport>
    <Transport>brunet.tcp://129.186.205.76:54593</Transport>
    <Transport>brunet.tcp://138.96.250.224:54593</Transport>
    <Transport>brunet.tcp://169.229.50.5:54593</Transport>
    <Transport>brunet.tcp://63.64.153.84:54593</Transport>
    <Transport>brunet.tcp://128.232.103.203:54593</Transport>
    <Transport>brunet.tcp://128.31.1.14:54593</Transport>
    <Transport>brunet.tcp://128.112.139.96:54593</Transport>
    <Transport>brunet.tcp://141.149.218.209:54593</Transport>
    <Transport>brunet.tcp://129.186.205.77:54593</Transport>
    <Transport>brunet.tcp://169.229.50.6:54593</Transport>
    <Transport>brunet.tcp://63.64.153.85:54593</Transport>
    <Transport>brunet.tcp://128.31.1.15:54593</Transport>
    <Transport>brunet.tcp://128.112.139.97:54593</Transport>
    <Transport>brunet.tcp://169.229.50.7:54593</Transport>
    <Transport>brunet.tcp://128.31.1.16:54593</Transport>
    <Transport>brunet.tcp://169.229.50.8:54593</Transport>
    <Transport>brunet.tcp://128.31.1.17:54593</Transport>
    <Transport>brunet.tcp://169.229.50.9:54593</Transport>
    <Transport>brunet.tcp://128.112.139.82:54593</Transport>
    <Transport>brunet.tcp://169.229.50.10:54593</Transport>
    <Transport>brunet.tcp://169.229.50.11:54593</Transport>
    <Transport>brunet.tcp://129.10.120.193:54593</Transport>
    <Transport>brunet.tcp://129.10.120.194:54593</Transport>
    <Transport>brunet.tcp://193.144.21.130:54593</Transport>
    <Transport>brunet.tcp://128.114.63.14:54593</Transport>
    <Transport>brunet.tcp://128.114.63.15:54593</Transport>
    <Transport>brunet.tcp://128.114.63.16:54593</Transport>
    <Transport>brunet.tcp://131.215.45.71:54593</Transport>
    <Transport>brunet.tcp://131.215.45.72:54593</Transport>
    <Transport>brunet.tcp://129.174.79.249:54593</Transport>
    <Transport>brunet.tcp://129.174.79.248:54593</Transport>
    <Transport>brunet.tcp://204.123.28.53:54593</Transport>
    <Transport>brunet.tcp://204.123.28.55:54593</Transport>
    <Transport>brunet.tcp://204.123.28.56:54593</Transport>
    <Transport>brunet.tcp://220.245.140.196:54593</Transport>
    <Transport>brunet.tcp://220.245.140.197:54593</Transport>
    <Transport>brunet.tcp://140.247.60.126:54593</Transport>
    <Transport>brunet.tcp://219.243.201.33:54593</Transport>
    <Transport>brunet.tcp://194.70.143.50:54593</Transport>
    <Transport>brunet.tcp://194.70.143.51:54593</Transport>
    <Transport>brunet.tcp://219.243.200.113:54593</Transport>
    <Transport>brunet.tcp://219.243.200.93:54593</Transport>
    <Transport>brunet.tcp://219.243.201.93:54593</Transport>
    <Transport>brunet.tcp://128.252.19.20:54593</Transport>
    <Transport>brunet.tcp://128.252.19.21:54593</Transport>
    <Transport>brunet.tcp://128.252.19.22:54593</Transport>
    <Transport>brunet.tcp://219.243.200.77:54593</Transport>
    <Transport>brunet.tcp://219.243.201.77:54593</Transport>
  </RemoteTAs>
</NodeConfig>
