<?xml version="1.0" encoding="utf-8"?>
<IpopConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IpopNamespace>SocialVPN</IpopNamespace>
  <VirtualNetworkDevice>tapipop</VirtualNetworkDevice>
  <EnableMulticast>true</EnableMulticast>
  <EndToEndSecurity>true</EndToEndSecurity>
</IpopConfig>
