<?xml version="1.0" encoding="utf-8"?>
<NodeConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BrunetNamespace>Local_Testing</BrunetNamespace>
  <RemoteTAs>
    <Transport>brunet.udp://127.0.0.1:52345</Transport>
  </RemoteTAs>
  <EdgeListeners>
    <EdgeListener type="udp">
      <port>52345</port>
    </EdgeListener>
  </EdgeListeners>
  <NodeAddress>brunet:node:TDCT46WLC2KZM7NWB7TKHOMSN3VZ44KM</NodeAddress>
  <DevicesToBind />
  <NCService>
    <Enabled>true</Enabled>
    <OptimizeShortcuts>true</OptimizeShortcuts>
    <Checkpointing>true</Checkpointing>
    <Checkpoint>0.0717450177951601 0.12103697332157 108.521811858673</Checkpoint>
  </NCService>
  <PrivateNodeConfig>
    <BrunetNamespace>LocalPrivateTesting</BrunetNamespace>
    <Security>
      <Enabled>true</Enabled>
      <SecureEdges>true</SecureEdges>
      <TestEnable>true</TestEnable>
      <SelfSignedCertificates>false</SelfSignedCertificates>
      <KeyPath>private_key</KeyPath>
      <CertificatePath>certificates</CertificatePath>
    </Security>
  </PrivateNodeConfig>
  <XmlRpcManager>
    <Enabled>true</Enabled>
    <Port>10000</Port>
  </XmlRpcManager>
  <XmppServices>
    <Enabled>false</Enabled>
    <Port>0</Port>
  </XmppServices>
  <Security>
    <Enabled>false</Enabled>
    <SecureEdges>false</SecureEdges>
    <TestEnable>false</TestEnable>
    <SelfSignedCertificates>false</SelfSignedCertificates>
    <KeyPath>private_key</KeyPath>
    <CertificatePath>certificates</CertificatePath>
  </Security>
</NodeConfig>