<?xml version="1.0" encoding="utf-8"?>
<!-- It is strongly suggested that you change the BrunetNamespace so that you do not have collision! -->
<NodeConfig>
  <BrunetNamespace>Local_Testing</BrunetNamespace>
  <EdgeListeners>
    <EdgeListener type="udp"/>
    <EdgeListener type="tcp"/>
  </EdgeListeners>
  <RpcDht>
    <Enabled>true</Enabled>
    <Port>64221</Port>
  </RpcDht>
  <XmlRpcManager>
    <Enabled>true</Enabled>
    <Port>10000</Port>
  </XmlRpcManager>
  <NCService>
    <Enabled>true</Enabled>
    <OptimizeShortcuts>true</OptimizeShortcuts>
    <Checkpointing>true</Checkpointing>
  </NCService>
</NodeConfig>
