<?xml version="1.0" encoding="utf-8"?>
<NodeConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BrunetNamespace>Local_Testing</BrunetNamespace>
  <EdgeListeners>
    <EdgeListener type="udp" />
    <EdgeListener type="tcp" />
  </EdgeListeners>
  <PrivateNodeConfig>
    <BrunetNamespace>LocalPrivateTesting</BrunetNamespace>
    <Security>
      <Enabled>true</Enabled>
      <SecureEdges>true</SecureEdges>
      <TestEnable>true</TestEnable>
      <SelfSignedCertificates>false</SelfSignedCertificates>
      <KeyPath>private_key</KeyPath>
      <CertificatePath>certificates</CertificatePath>
    </Security>
  </PrivateNodeConfig>
  <XmlRpcManager>
    <Enabled>true</Enabled>
    <Port>10000</Port>
  </XmlRpcManager>
</NodeConfig>
