<?xml version="1.0" encoding="utf-8"?>
<!-- Rename this file to match your exe file, such that <exe name>.config is the name of the config file -->
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
<!-- This enable a text writer, extend this comment to disable it 
        <add name="textListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Brunet.log" /> -->
      </listeners>
    </trace>
    <switches>
<!-- This enables a console.error writer, its in here, because it didn not work above :( -->
      <add name="ConsoleLogEnable" value="1"/>
<!-- Brunet Logging switches -->
      <add name="Announce" value="0"/>
      <add name="ConnectionTable" value="0"/>
      <add name="ConnectionTableLocks" value="0"/>
      <add name="Dht" value="0"/>
      <add name="EdgeClose" value="0"/>
      <add name="ERROR" value="1"/>
      <add name="LinkDebug" value="0"/>
      <add name="LocalCO" value="0"/>
      <add name="LPS" value="0"/>
      <add name="MapReduce" value="0"/>
      <add name="Monitor" value="0"/>
      <add name="NatHandler" value="0"/>
      <add name="Node" value="0"/>
      <add name="SCO" value="0"/>
      <add name="Stats" value="0"/>
      <add name="TunnelEdge" value="0"/>
      <add name="UdpEdge" value="0"/>
      <add name="MapReduce" value="0"/>
      <add name="ManagedCO" value="0"/>
      <add name="Security" value="0"/>
      <add name="SecurityExceptions" value="0"/>
<!-- Ipop Logging switches -->
      <!-- Misc use, usually produces nothing -->
      <add name="BaseLog" value="0"/>
      <!-- Logs incoming and outgoing packets -->
      <add name="PacketLog" value="0"/>
      <!-- DHCP status changes -->
      <add name="DHCPLog" value="0"/>
      <!-- Used when converting IP address to P2P address -->
      <add name="ResolverLog" value="0"/>
      <!-- Prints debugging related to the virtual DNS -->
      <add name="DNS" value="0"/>
    </switches>
  </system.diagnostics>
</configuration>
