<!-- Rename this file to match your exe file, such that <exe name>.config is the name of the config file -->
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
<!-- This enable a text writer, extend this comment to disable it 
        <add name="textListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Brunet.log" /> -->
      </listeners>
    </trace>
    <switches>
<!-- This enables a console.error writer, its in here, because it didn not work above :( -->
      <add name="ConsoleLogEnable" value="1"/>
<!-- Brunet Logging switches -->
      <add name="ConnectionTable" value="0"/>
      <add name="ConnectionTableLocks" value="0"/>
      <add name="ERROR" value="1"/>
      <add name="Node" value="0"/>
      <add name="Announce" value="0"/>
      <add name="UdpEdge" value="0"/>
      <add name="NatHandler" value="0"/>
      <add name="SCO" value="0"/>
      <add name="Stats" value="0"/>
      <add name="LinkDebug" value="0"/>
      <add name="TunnelEdge" value="0"/>
      <add name="Unknown" value="0"/>
      <add name="LPS" value="0"/>
      <add name="LocalCO" value="0"/>
      <add name="Monitor" value="0"/>
    </switches>
  </system.diagnostics>
</configuration>
