<?xml version="1.0" encoding="utf-8"?>
<!-- This config should not be used unless you have received confirmation from David Wolinsky to use it.  Obviously we have limited control, but if you use the other Condor_WOW namespace without receiving confirmation first, you could be impeding productivity. Please use ipop.config.testing -->
<NodeConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BrunetNamespace>Condor_WOW_T33</BrunetNamespace>
  <RemoteTAs>
    <Transport>brunet.udp://193.147.162.166:62194</Transport>
    <Transport>brunet.udp://195.37.16.97:62194</Transport>
    <Transport>brunet.udp://128.112.139.80:62194</Transport>
    <Transport>brunet.udp://219.243.206.124:62194</Transport>
    <Transport>brunet.udp://206.12.16.133:62194</Transport>
    <Transport>brunet.udp://206.12.16.134:62194</Transport>
    <Transport>brunet.udp://195.37.16.101:62194</Transport>
    <Transport>brunet.udp://132.68.237.34:62194</Transport>
    <Transport>brunet.udp://132.68.237.35:62194</Transport>
    <Transport>brunet.udp://132.68.237.36:62194</Transport>
    <Transport>brunet.udp://140.119.164.84:62194</Transport>
    <Transport>brunet.udp://134.2.172.253:62194</Transport>
    <Transport>brunet.udp://193.196.39.9:62194</Transport>
    <Transport>brunet.udp://193.196.39.10:62194</Transport>
    <Transport>brunet.udp://128.192.101.217:62194</Transport>
    <Transport>brunet.udp://129.237.161.193:62194</Transport>
    <Transport>brunet.udp://129.237.161.194:62194</Transport>
    <Transport>brunet.udp://140.247.60.123:62194</Transport>
    <Transport>brunet.udp://219.243.200.49:62194</Transport>
    <Transport>brunet.udp://219.243.201.49:62194</Transport>
    <Transport>brunet.udp://192.197.121.2:62194</Transport>
    <Transport>brunet.udp://192.197.121.3:62194</Transport>
    <Transport>brunet.udp://140.114.79.231:62194</Transport>
    <Transport>brunet.udp://140.114.79.233:62194</Transport>
    <Transport>brunet.udp://134.2.172.252:62194</Transport>
    <Transport>brunet.udp://142.150.238.12:62194</Transport>
    <Transport>brunet.udp://160.36.57.172:62194</Transport>
    <Transport>brunet.udp://202.38.99.69:62194</Transport>
    <Transport>brunet.udp://142.150.238.13:62194</Transport>
    <Transport>brunet.udp://160.36.57.173:62194</Transport>
    <Transport>brunet.udp://143.89.126.13:62194</Transport>
    <Transport>brunet.udp://152.14.92.58:62194</Transport>
    <Transport>brunet.udp://152.14.92.59:62194</Transport>
    <Transport>brunet.udp://12.46.129.21:62194</Transport>
    <Transport>brunet.udp://132.65.240.100:62194</Transport>
    <Transport>brunet.udp://128.151.65.101:62194</Transport>
    <Transport>brunet.udp://128.113.226.235:62194</Transport>
    <Transport>brunet.udp://130.75.87.83:62194</Transport>
    <Transport>brunet.udp://130.88.203.26:62194</Transport>
    <Transport>brunet.udp://12.108.127.136:62194</Transport>
    <Transport>brunet.udp://141.24.33.161:62194</Transport>
    <Transport>brunet.udp://171.66.3.181:62194</Transport>
    <Transport>brunet.udp://132.65.240.101:62194</Transport>
    <Transport>brunet.udp://128.151.65.102:62194</Transport>
    <Transport>brunet.udp://130.88.203.27:62194</Transport>
    <Transport>brunet.udp://12.108.127.137:62194</Transport>
    <Transport>brunet.udp://141.24.33.162:62194</Transport>
    <Transport>brunet.udp://171.66.3.182:62194</Transport>
    <Transport>brunet.udp://12.46.129.23:62194</Transport>
    <Transport>brunet.udp://12.108.127.138:62194</Transport>
    <Transport>brunet.udp://143.215.128.194:62194</Transport>
    <Transport>brunet.udp://128.208.4.197:62194</Transport>
    <Transport>brunet.udp://132.227.74.40:62194</Transport>
    <Transport>brunet.udp://139.19.142.1:62194</Transport>
    <Transport>brunet.udp://163.221.11.71:62194</Transport>
    <Transport>brunet.udp://152.15.98.226:62194</Transport>
    <Transport>brunet.udp://128.208.4.198:62194</Transport>
    <Transport>brunet.udp://132.227.74.41:62194</Transport>
    <Transport>brunet.udp://139.19.142.2:62194</Transport>
    <Transport>brunet.udp://163.221.11.72:62194</Transport>
    <Transport>brunet.udp://128.208.4.199:62194</Transport>
    <Transport>brunet.udp://139.19.142.3:62194</Transport>
    <Transport>brunet.udp://163.221.11.73:62194</Transport>
    <Transport>brunet.udp://139.19.142.4:62194</Transport>
    <Transport>brunet.udp://139.19.142.5:62194</Transport>
    <Transport>brunet.udp://139.19.142.6:62194</Transport>
    <Transport>brunet.udp://128.112.139.78:62194</Transport>
    <Transport>brunet.udp://169.229.50.12:62194</Transport>
    <Transport>brunet.udp://169.229.50.13:62194</Transport>
    <Transport>brunet.udp://169.229.50.14:62194</Transport>
    <Transport>brunet.udp://169.229.50.15:62194</Transport>
    <Transport>brunet.udp://169.229.50.16:62194</Transport>
    <Transport>brunet.udp://169.229.50.17:62194</Transport>
    <Transport>brunet.udp://128.187.223.211:62194</Transport>
    <Transport>brunet.udp://128.2.223.63:62194</Transport>
    <Transport>brunet.udp://128.220.231.2:62194</Transport>
    <Transport>brunet.udp://128.31.1.11:62194</Transport>
    <Transport>brunet.udp://129.82.12.187:62194</Transport>
    <Transport>brunet.udp://128.59.20.226:62194</Transport>
    <Transport>brunet.udp://128.84.154.49:62194</Transport>
    <Transport>brunet.udp://129.170.214.191:62194</Transport>
    <Transport>brunet.udp://152.3.138.1:62194</Transport>
    <Transport>brunet.udp://129.74.152.66:62194</Transport>
    <Transport>brunet.udp://128.112.139.71:62194</Transport>
    <Transport>brunet.udp://128.10.19.52:62194</Transport>
    <Transport>brunet.udp://128.83.122.179:62194</Transport>
    <Transport>brunet.udp://128.135.11.149:62194</Transport>
    <Transport>brunet.udp://131.179.112.70:62194</Transport>
    <Transport>brunet.udp://192.17.239.250:62194</Transport>
    <Transport>brunet.udp://128.119.247.210:62194</Transport>
    <Transport>brunet.udp://152.2.130.66:62194</Transport>
    <Transport>brunet.udp://128.223.8.111:62194</Transport>
    <Transport>brunet.udp://198.133.224.145:62194</Transport>
    <Transport>brunet.udp://160.94.220.241:62194</Transport>
    <Transport>brunet.udp://129.186.205.73:62194</Transport>
    <Transport>brunet.udp://169.237.79.210:62194</Transport>
    <Transport>brunet.udp://129.22.150.90:62194</Transport>
    <Transport>brunet.udp://202.189.126.85:62194</Transport>
    <Transport>brunet.udp://128.193.33.7:62194</Transport>
    <Transport>brunet.udp://132.252.152.193:62194</Transport>
    <Transport>brunet.udp://155.98.35.2:62194</Transport>
    <Transport>brunet.udp://141.161.20.32:62194</Transport>
    <Transport>brunet.udp://129.240.67.15:62194</Transport>
    <Transport>brunet.udp://133.11.240.56:62194</Transport>
    <Transport>brunet.udp://193.63.75.18:62194</Transport>
    <Transport>brunet.udp://131.246.19.201:62194</Transport>
    <Transport>brunet.udp://138.96.250.222:62194</Transport>
    <Transport>brunet.udp://128.220.247.28:62194</Transport>
    <Transport>brunet.udp://193.10.133.128:62194</Transport>
    <Transport>brunet.udp://129.12.3.74:62194</Transport>
    <Transport>brunet.udp://138.246.99.249:62194</Transport>
    <Transport>brunet.udp://150.165.15.18:62194</Transport>
    <Transport>brunet.udp://138.100.12.148:62194</Transport>
    <Transport>brunet.udp://130.245.145.155:62194</Transport>
    <Transport>brunet.udp://128.163.142.20:62194</Transport>
    <Transport>brunet.udp://193.63.58.70:62194</Transport>
    <Transport>brunet.udp://140.112.107.80:62194</Transport>
    <Transport>brunet.udp://128.4.36.11:62194</Transport>
    <Transport>brunet.udp://128.238.88.64:62194</Transport>
    <Transport>brunet.udp://200.19.159.34:62194</Transport>
    <Transport>brunet.udp://206.117.37.4:62194</Transport>
    <Transport>brunet.udp://192.16.125.11:62194</Transport>
    <Transport>brunet.udp://165.91.83.22:62194</Transport>
    <Transport>brunet.udp://193.1.201.26:62194</Transport>
    <Transport>brunet.udp://129.137.253.253:62194</Transport>
    <Transport>brunet.udp://195.116.60.1:62194</Transport>
    <Transport>brunet.udp://198.163.152.229:62194</Transport>
    <Transport>brunet.udp://128.232.103.201:62194</Transport>
    <Transport>brunet.udp://128.227.56.82:62194</Transport>
    <Transport>brunet.udp://158.130.6.253:62194</Transport>
    <Transport>brunet.udp://128.2.223.64:62194</Transport>
    <Transport>brunet.udp://128.220.231.3:62194</Transport>
    <Transport>brunet.udp://128.31.1.12:62194</Transport>
    <Transport>brunet.udp://129.82.12.188:62194</Transport>
    <Transport>brunet.udp://128.59.20.227:62194</Transport>
    <Transport>brunet.udp://128.84.154.71:62194</Transport>
    <Transport>brunet.udp://129.170.214.192:62194</Transport>
    <Transport>brunet.udp://152.3.138.2:62194</Transport>
    <Transport>brunet.udp://194.80.38.243:62194</Transport>
    <Transport>brunet.udp://129.105.44.253:62194</Transport>
    <Transport>brunet.udp://130.49.221.41:62194</Transport>
    <Transport>brunet.udp://128.10.19.53:62194</Transport>
    <Transport>brunet.udp://128.83.122.180:62194</Transport>
    <Transport>brunet.udp://131.179.112.71:62194</Transport>
    <Transport>brunet.udp://192.17.239.251:62194</Transport>
    <Transport>brunet.udp://128.119.247.211:62194</Transport>
    <Transport>brunet.udp://152.2.130.67:62194</Transport>
    <Transport>brunet.udp://195.130.121.205:62194</Transport>
    <Transport>brunet.udp://128.223.8.112:62194</Transport>
    <Transport>brunet.udp://128.143.137.250:62194</Transport>
    <Transport>brunet.udp://130.37.198.244:62194</Transport>
    <Transport>brunet.udp://160.94.220.242:62194</Transport>
    <Transport>brunet.udp://169.237.79.211:62194</Transport>
    <Transport>brunet.udp://202.189.126.86:62194</Transport>
    <Transport>brunet.udp://128.193.33.8:62194</Transport>
    <Transport>brunet.udp://132.252.152.194:62194</Transport>
    <Transport>brunet.udp://155.98.35.3:62194</Transport>
    <Transport>brunet.udp://141.161.20.33:62194</Transport>
    <Transport>brunet.udp://193.167.187.188:62194</Transport>
    <Transport>brunet.udp://129.240.67.16:62194</Transport>
    <Transport>brunet.udp://133.11.240.57:62194</Transport>
    <Transport>brunet.udp://193.63.75.19:62194</Transport>
    <Transport>brunet.udp://131.246.19.202:62194</Transport>
    <Transport>brunet.udp://130.104.72.201:62194</Transport>
    <Transport>brunet.udp://138.96.250.223:62194</Transport>
    <Transport>brunet.udp://128.220.247.29:62194</Transport>
    <Transport>brunet.udp://131.246.191.42:62194</Transport>
    <Transport>brunet.udp://129.12.3.75:62194</Transport>
    <Transport>brunet.udp://138.100.12.149:62194</Transport>
    <Transport>brunet.udp://169.229.50.4:62194</Transport>
    <Transport>brunet.udp://63.64.153.83:62194</Transport>
    <Transport>brunet.udp://193.63.58.71:62194</Transport>
    <Transport>brunet.udp://140.112.107.82:62194</Transport>
    <Transport>brunet.udp://195.116.60.34:62194</Transport>
    <Transport>brunet.udp://128.4.36.12:62194</Transport>
    <Transport>brunet.udp://128.238.88.65:62194</Transport>
    <Transport>brunet.udp://200.19.159.35:62194</Transport>
    <Transport>brunet.udp://200.132.0.70:62194</Transport>
    <Transport>brunet.udp://206.117.37.5:62194</Transport>
    <Transport>brunet.udp://192.16.125.12:62194</Transport>
    <Transport>brunet.udp://165.91.83.23:62194</Transport>
    <Transport>brunet.udp://193.1.201.27:62194</Transport>
    <Transport>brunet.udp://129.137.253.252:62194</Transport>
    <Transport>brunet.udp://192.42.43.23:62194</Transport>
    <Transport>brunet.udp://129.93.68.55:62194</Transport>
    <Transport>brunet.udp://193.144.21.131:62194</Transport>
    <Transport>brunet.udp://198.163.152.230:62194</Transport>
    <Transport>brunet.udp://128.2.223.65:62194</Transport>
    <Transport>brunet.udp://128.31.1.13:62194</Transport>
    <Transport>brunet.udp://128.59.20.228:62194</Transport>
    <Transport>brunet.udp://152.3.138.3:62194</Transport>
    <Transport>brunet.udp://128.112.139.73:62194</Transport>
    <Transport>brunet.udp://128.83.122.181:62194</Transport>
    <Transport>brunet.udp://128.135.11.152:62194</Transport>
    <Transport>brunet.udp://128.223.8.113:62194</Transport>
    <Transport>brunet.udp://141.149.218.208:62194</Transport>
    <Transport>brunet.udp://129.186.205.76:62194</Transport>
    <Transport>brunet.udp://138.96.250.224:62194</Transport>
    <Transport>brunet.udp://169.229.50.5:62194</Transport>
    <Transport>brunet.udp://63.64.153.84:62194</Transport>
    <Transport>brunet.udp://128.232.103.203:62194</Transport>
    <Transport>brunet.udp://128.31.1.14:62194</Transport>
    <Transport>brunet.udp://128.112.139.96:62194</Transport>
    <Transport>brunet.udp://141.149.218.209:62194</Transport>
    <Transport>brunet.udp://129.186.205.77:62194</Transport>
    <Transport>brunet.udp://169.229.50.6:62194</Transport>
    <Transport>brunet.udp://63.64.153.85:62194</Transport>
    <Transport>brunet.udp://128.31.1.15:62194</Transport>
    <Transport>brunet.udp://128.112.139.97:62194</Transport>
    <Transport>brunet.udp://169.229.50.7:62194</Transport>
    <Transport>brunet.udp://128.31.1.16:62194</Transport>
    <Transport>brunet.udp://169.229.50.8:62194</Transport>
    <Transport>brunet.udp://128.31.1.17:62194</Transport>
    <Transport>brunet.udp://169.229.50.9:62194</Transport>
    <Transport>brunet.udp://128.112.139.82:62194</Transport>
    <Transport>brunet.udp://169.229.50.10:62194</Transport>
    <Transport>brunet.udp://169.229.50.11:62194</Transport>
    <Transport>brunet.udp://129.10.120.193:62194</Transport>
    <Transport>brunet.udp://129.10.120.194:62194</Transport>
    <Transport>brunet.udp://193.144.21.130:62194</Transport>
    <Transport>brunet.udp://128.114.63.14:62194</Transport>
    <Transport>brunet.udp://128.114.63.15:62194</Transport>
    <Transport>brunet.udp://128.114.63.16:62194</Transport>
    <Transport>brunet.udp://131.215.45.71:62194</Transport>
    <Transport>brunet.udp://131.215.45.72:62194</Transport>
    <Transport>brunet.udp://129.174.79.249:62194</Transport>
    <Transport>brunet.udp://129.174.79.248:62194</Transport>
    <Transport>brunet.udp://204.123.28.53:62194</Transport>
    <Transport>brunet.udp://204.123.28.55:62194</Transport>
    <Transport>brunet.udp://204.123.28.56:62194</Transport>
    <Transport>brunet.udp://220.245.140.196:62194</Transport>
    <Transport>brunet.udp://220.245.140.197:62194</Transport>
    <Transport>brunet.udp://140.247.60.126:62194</Transport>
    <Transport>brunet.udp://219.243.201.33:62194</Transport>
    <Transport>brunet.udp://194.70.143.50:62194</Transport>
    <Transport>brunet.udp://194.70.143.51:62194</Transport>
    <Transport>brunet.udp://219.243.200.113:62194</Transport>
    <Transport>brunet.udp://219.243.200.93:62194</Transport>
    <Transport>brunet.udp://219.243.201.93:62194</Transport>
    <Transport>brunet.udp://128.252.19.20:62194</Transport>
    <Transport>brunet.udp://128.252.19.21:62194</Transport>
    <Transport>brunet.udp://128.252.19.22:62194</Transport>
    <Transport>brunet.udp://219.243.200.77:62194</Transport>
    <Transport>brunet.udp://219.243.201.77:62194</Transport>
    <Transport>brunet.tcp://193.147.162.166:62193</Transport>
    <Transport>brunet.tcp://195.37.16.97:62193</Transport>
    <Transport>brunet.tcp://128.112.139.80:62193</Transport>
    <Transport>brunet.tcp://219.243.206.124:62193</Transport>
    <Transport>brunet.tcp://206.12.16.133:62193</Transport>
    <Transport>brunet.tcp://206.12.16.134:62193</Transport>
    <Transport>brunet.tcp://195.37.16.101:62193</Transport>
    <Transport>brunet.tcp://132.68.237.34:62193</Transport>
    <Transport>brunet.tcp://132.68.237.35:62193</Transport>
    <Transport>brunet.tcp://132.68.237.36:62193</Transport>
    <Transport>brunet.tcp://140.119.164.84:62193</Transport>
    <Transport>brunet.tcp://134.2.172.253:62193</Transport>
    <Transport>brunet.tcp://193.196.39.9:62193</Transport>
    <Transport>brunet.tcp://193.196.39.10:62193</Transport>
    <Transport>brunet.tcp://128.192.101.217:62193</Transport>
    <Transport>brunet.tcp://129.237.161.193:62193</Transport>
    <Transport>brunet.tcp://129.237.161.194:62193</Transport>
    <Transport>brunet.tcp://140.247.60.123:62193</Transport>
    <Transport>brunet.tcp://219.243.200.49:62193</Transport>
    <Transport>brunet.tcp://219.243.201.49:62193</Transport>
    <Transport>brunet.tcp://192.197.121.2:62193</Transport>
    <Transport>brunet.tcp://192.197.121.3:62193</Transport>
    <Transport>brunet.tcp://140.114.79.231:62193</Transport>
    <Transport>brunet.tcp://140.114.79.233:62193</Transport>
    <Transport>brunet.tcp://134.2.172.252:62193</Transport>
    <Transport>brunet.tcp://142.150.238.12:62193</Transport>
    <Transport>brunet.tcp://160.36.57.172:62193</Transport>
    <Transport>brunet.tcp://202.38.99.69:62193</Transport>
    <Transport>brunet.tcp://142.150.238.13:62193</Transport>
    <Transport>brunet.tcp://160.36.57.173:62193</Transport>
    <Transport>brunet.tcp://143.89.126.13:62193</Transport>
    <Transport>brunet.tcp://152.14.92.58:62193</Transport>
    <Transport>brunet.tcp://152.14.92.59:62193</Transport>
    <Transport>brunet.tcp://12.46.129.21:62193</Transport>
    <Transport>brunet.tcp://132.65.240.100:62193</Transport>
    <Transport>brunet.tcp://128.151.65.101:62193</Transport>
    <Transport>brunet.tcp://128.113.226.235:62193</Transport>
    <Transport>brunet.tcp://130.75.87.83:62193</Transport>
    <Transport>brunet.tcp://130.88.203.26:62193</Transport>
    <Transport>brunet.tcp://12.108.127.136:62193</Transport>
    <Transport>brunet.tcp://141.24.33.161:62193</Transport>
    <Transport>brunet.tcp://171.66.3.181:62193</Transport>
    <Transport>brunet.tcp://132.65.240.101:62193</Transport>
    <Transport>brunet.tcp://128.151.65.102:62193</Transport>
    <Transport>brunet.tcp://130.88.203.27:62193</Transport>
    <Transport>brunet.tcp://12.108.127.137:62193</Transport>
    <Transport>brunet.tcp://141.24.33.162:62193</Transport>
    <Transport>brunet.tcp://171.66.3.182:62193</Transport>
    <Transport>brunet.tcp://12.46.129.23:62193</Transport>
    <Transport>brunet.tcp://12.108.127.138:62193</Transport>
    <Transport>brunet.tcp://143.215.128.194:62193</Transport>
    <Transport>brunet.tcp://128.208.4.197:62193</Transport>
    <Transport>brunet.tcp://132.227.74.40:62193</Transport>
    <Transport>brunet.tcp://139.19.142.1:62193</Transport>
    <Transport>brunet.tcp://163.221.11.71:62193</Transport>
    <Transport>brunet.tcp://152.15.98.226:62193</Transport>
    <Transport>brunet.tcp://128.208.4.198:62193</Transport>
    <Transport>brunet.tcp://132.227.74.41:62193</Transport>
    <Transport>brunet.tcp://139.19.142.2:62193</Transport>
    <Transport>brunet.tcp://163.221.11.72:62193</Transport>
    <Transport>brunet.tcp://128.208.4.199:62193</Transport>
    <Transport>brunet.tcp://139.19.142.3:62193</Transport>
    <Transport>brunet.tcp://163.221.11.73:62193</Transport>
    <Transport>brunet.tcp://139.19.142.4:62193</Transport>
    <Transport>brunet.tcp://139.19.142.5:62193</Transport>
    <Transport>brunet.tcp://139.19.142.6:62193</Transport>
    <Transport>brunet.tcp://128.112.139.78:62193</Transport>
    <Transport>brunet.tcp://169.229.50.12:62193</Transport>
    <Transport>brunet.tcp://169.229.50.13:62193</Transport>
    <Transport>brunet.tcp://169.229.50.14:62193</Transport>
    <Transport>brunet.tcp://169.229.50.15:62193</Transport>
    <Transport>brunet.tcp://169.229.50.16:62193</Transport>
    <Transport>brunet.tcp://169.229.50.17:62193</Transport>
    <Transport>brunet.tcp://128.187.223.211:62193</Transport>
    <Transport>brunet.tcp://128.2.223.63:62193</Transport>
    <Transport>brunet.tcp://128.220.231.2:62193</Transport>
    <Transport>brunet.tcp://128.31.1.11:62193</Transport>
    <Transport>brunet.tcp://129.82.12.187:62193</Transport>
    <Transport>brunet.tcp://128.59.20.226:62193</Transport>
    <Transport>brunet.tcp://128.84.154.49:62193</Transport>
    <Transport>brunet.tcp://129.170.214.191:62193</Transport>
    <Transport>brunet.tcp://152.3.138.1:62193</Transport>
    <Transport>brunet.tcp://129.74.152.66:62193</Transport>
    <Transport>brunet.tcp://128.112.139.71:62193</Transport>
    <Transport>brunet.tcp://128.10.19.52:62193</Transport>
    <Transport>brunet.tcp://128.83.122.179:62193</Transport>
    <Transport>brunet.tcp://128.135.11.149:62193</Transport>
    <Transport>brunet.tcp://131.179.112.70:62193</Transport>
    <Transport>brunet.tcp://192.17.239.250:62193</Transport>
    <Transport>brunet.tcp://128.119.247.210:62193</Transport>
    <Transport>brunet.tcp://152.2.130.66:62193</Transport>
    <Transport>brunet.tcp://128.223.8.111:62193</Transport>
    <Transport>brunet.tcp://198.133.224.145:62193</Transport>
    <Transport>brunet.tcp://160.94.220.241:62193</Transport>
    <Transport>brunet.tcp://129.186.205.73:62193</Transport>
    <Transport>brunet.tcp://169.237.79.210:62193</Transport>
    <Transport>brunet.tcp://129.22.150.90:62193</Transport>
    <Transport>brunet.tcp://202.189.126.85:62193</Transport>
    <Transport>brunet.tcp://128.193.33.7:62193</Transport>
    <Transport>brunet.tcp://132.252.152.193:62193</Transport>
    <Transport>brunet.tcp://155.98.35.2:62193</Transport>
    <Transport>brunet.tcp://141.161.20.32:62193</Transport>
    <Transport>brunet.tcp://129.240.67.15:62193</Transport>
    <Transport>brunet.tcp://133.11.240.56:62193</Transport>
    <Transport>brunet.tcp://193.63.75.18:62193</Transport>
    <Transport>brunet.tcp://131.246.19.201:62193</Transport>
    <Transport>brunet.tcp://138.96.250.222:62193</Transport>
    <Transport>brunet.tcp://128.220.247.28:62193</Transport>
    <Transport>brunet.tcp://193.10.133.128:62193</Transport>
    <Transport>brunet.tcp://129.12.3.74:62193</Transport>
    <Transport>brunet.tcp://138.246.99.249:62193</Transport>
    <Transport>brunet.tcp://150.165.15.18:62193</Transport>
    <Transport>brunet.tcp://138.100.12.148:62193</Transport>
    <Transport>brunet.tcp://130.245.145.155:62193</Transport>
    <Transport>brunet.tcp://128.163.142.20:62193</Transport>
    <Transport>brunet.tcp://193.63.58.70:62193</Transport>
    <Transport>brunet.tcp://140.112.107.80:62193</Transport>
    <Transport>brunet.tcp://128.4.36.11:62193</Transport>
    <Transport>brunet.tcp://128.238.88.64:62193</Transport>
    <Transport>brunet.tcp://200.19.159.34:62193</Transport>
    <Transport>brunet.tcp://206.117.37.4:62193</Transport>
    <Transport>brunet.tcp://192.16.125.11:62193</Transport>
    <Transport>brunet.tcp://165.91.83.22:62193</Transport>
    <Transport>brunet.tcp://193.1.201.26:62193</Transport>
    <Transport>brunet.tcp://129.137.253.253:62193</Transport>
    <Transport>brunet.tcp://195.116.60.1:62193</Transport>
    <Transport>brunet.tcp://198.163.152.229:62193</Transport>
    <Transport>brunet.tcp://128.232.103.201:62193</Transport>
    <Transport>brunet.tcp://128.227.56.82:62193</Transport>
    <Transport>brunet.tcp://158.130.6.253:62193</Transport>
    <Transport>brunet.tcp://128.2.223.64:62193</Transport>
    <Transport>brunet.tcp://128.220.231.3:62193</Transport>
    <Transport>brunet.tcp://128.31.1.12:62193</Transport>
    <Transport>brunet.tcp://129.82.12.188:62193</Transport>
    <Transport>brunet.tcp://128.59.20.227:62193</Transport>
    <Transport>brunet.tcp://128.84.154.71:62193</Transport>
    <Transport>brunet.tcp://129.170.214.192:62193</Transport>
    <Transport>brunet.tcp://152.3.138.2:62193</Transport>
    <Transport>brunet.tcp://194.80.38.243:62193</Transport>
    <Transport>brunet.tcp://129.105.44.253:62193</Transport>
    <Transport>brunet.tcp://130.49.221.41:62193</Transport>
    <Transport>brunet.tcp://128.10.19.53:62193</Transport>
    <Transport>brunet.tcp://128.83.122.180:62193</Transport>
    <Transport>brunet.tcp://131.179.112.71:62193</Transport>
    <Transport>brunet.tcp://192.17.239.251:62193</Transport>
    <Transport>brunet.tcp://128.119.247.211:62193</Transport>
    <Transport>brunet.tcp://152.2.130.67:62193</Transport>
    <Transport>brunet.tcp://195.130.121.205:62193</Transport>
    <Transport>brunet.tcp://128.223.8.112:62193</Transport>
    <Transport>brunet.tcp://128.143.137.250:62193</Transport>
    <Transport>brunet.tcp://130.37.198.244:62193</Transport>
    <Transport>brunet.tcp://160.94.220.242:62193</Transport>
    <Transport>brunet.tcp://169.237.79.211:62193</Transport>
    <Transport>brunet.tcp://202.189.126.86:62193</Transport>
    <Transport>brunet.tcp://128.193.33.8:62193</Transport>
    <Transport>brunet.tcp://132.252.152.194:62193</Transport>
    <Transport>brunet.tcp://155.98.35.3:62193</Transport>
    <Transport>brunet.tcp://141.161.20.33:62193</Transport>
    <Transport>brunet.tcp://193.167.187.188:62193</Transport>
    <Transport>brunet.tcp://129.240.67.16:62193</Transport>
    <Transport>brunet.tcp://133.11.240.57:62193</Transport>
    <Transport>brunet.tcp://193.63.75.19:62193</Transport>
    <Transport>brunet.tcp://131.246.19.202:62193</Transport>
    <Transport>brunet.tcp://130.104.72.201:62193</Transport>
    <Transport>brunet.tcp://138.96.250.223:62193</Transport>
    <Transport>brunet.tcp://128.220.247.29:62193</Transport>
    <Transport>brunet.tcp://131.246.191.42:62193</Transport>
    <Transport>brunet.tcp://129.12.3.75:62193</Transport>
    <Transport>brunet.tcp://138.100.12.149:62193</Transport>
    <Transport>brunet.tcp://169.229.50.4:62193</Transport>
    <Transport>brunet.tcp://63.64.153.83:62193</Transport>
    <Transport>brunet.tcp://193.63.58.71:62193</Transport>
    <Transport>brunet.tcp://140.112.107.82:62193</Transport>
    <Transport>brunet.tcp://195.116.60.34:62193</Transport>
    <Transport>brunet.tcp://128.4.36.12:62193</Transport>
    <Transport>brunet.tcp://128.238.88.65:62193</Transport>
    <Transport>brunet.tcp://200.19.159.35:62193</Transport>
    <Transport>brunet.tcp://200.132.0.70:62193</Transport>
    <Transport>brunet.tcp://206.117.37.5:62193</Transport>
    <Transport>brunet.tcp://192.16.125.12:62193</Transport>
    <Transport>brunet.tcp://165.91.83.23:62193</Transport>
    <Transport>brunet.tcp://193.1.201.27:62193</Transport>
    <Transport>brunet.tcp://129.137.253.252:62193</Transport>
    <Transport>brunet.tcp://192.42.43.23:62193</Transport>
    <Transport>brunet.tcp://129.93.68.55:62193</Transport>
    <Transport>brunet.tcp://193.144.21.131:62193</Transport>
    <Transport>brunet.tcp://198.163.152.230:62193</Transport>
    <Transport>brunet.tcp://128.2.223.65:62193</Transport>
    <Transport>brunet.tcp://128.31.1.13:62193</Transport>
    <Transport>brunet.tcp://128.59.20.228:62193</Transport>
    <Transport>brunet.tcp://152.3.138.3:62193</Transport>
    <Transport>brunet.tcp://128.112.139.73:62193</Transport>
    <Transport>brunet.tcp://128.83.122.181:62193</Transport>
    <Transport>brunet.tcp://128.135.11.152:62193</Transport>
    <Transport>brunet.tcp://128.223.8.113:62193</Transport>
    <Transport>brunet.tcp://141.149.218.208:62193</Transport>
    <Transport>brunet.tcp://129.186.205.76:62193</Transport>
    <Transport>brunet.tcp://138.96.250.224:62193</Transport>
    <Transport>brunet.tcp://169.229.50.5:62193</Transport>
    <Transport>brunet.tcp://63.64.153.84:62193</Transport>
    <Transport>brunet.tcp://128.232.103.203:62193</Transport>
    <Transport>brunet.tcp://128.31.1.14:62193</Transport>
    <Transport>brunet.tcp://128.112.139.96:62193</Transport>
    <Transport>brunet.tcp://141.149.218.209:62193</Transport>
    <Transport>brunet.tcp://129.186.205.77:62193</Transport>
    <Transport>brunet.tcp://169.229.50.6:62193</Transport>
    <Transport>brunet.tcp://63.64.153.85:62193</Transport>
    <Transport>brunet.tcp://128.31.1.15:62193</Transport>
    <Transport>brunet.tcp://128.112.139.97:62193</Transport>
    <Transport>brunet.tcp://169.229.50.7:62193</Transport>
    <Transport>brunet.tcp://128.31.1.16:62193</Transport>
    <Transport>brunet.tcp://169.229.50.8:62193</Transport>
    <Transport>brunet.tcp://128.31.1.17:62193</Transport>
    <Transport>brunet.tcp://169.229.50.9:62193</Transport>
    <Transport>brunet.tcp://128.112.139.82:62193</Transport>
    <Transport>brunet.tcp://169.229.50.10:62193</Transport>
    <Transport>brunet.tcp://169.229.50.11:62193</Transport>
    <Transport>brunet.tcp://129.10.120.193:62193</Transport>
    <Transport>brunet.tcp://129.10.120.194:62193</Transport>
    <Transport>brunet.tcp://193.144.21.130:62193</Transport>
    <Transport>brunet.tcp://128.114.63.14:62193</Transport>
    <Transport>brunet.tcp://128.114.63.15:62193</Transport>
    <Transport>brunet.tcp://128.114.63.16:62193</Transport>
    <Transport>brunet.tcp://131.215.45.71:62193</Transport>
    <Transport>brunet.tcp://131.215.45.72:62193</Transport>
    <Transport>brunet.tcp://129.174.79.249:62193</Transport>
    <Transport>brunet.tcp://129.174.79.248:62193</Transport>
    <Transport>brunet.tcp://204.123.28.53:62193</Transport>
    <Transport>brunet.tcp://204.123.28.55:62193</Transport>
    <Transport>brunet.tcp://204.123.28.56:62193</Transport>
    <Transport>brunet.tcp://220.245.140.196:62193</Transport>
    <Transport>brunet.tcp://220.245.140.197:62193</Transport>
    <Transport>brunet.tcp://140.247.60.126:62193</Transport>
    <Transport>brunet.tcp://219.243.201.33:62193</Transport>
    <Transport>brunet.tcp://194.70.143.50:62193</Transport>
    <Transport>brunet.tcp://194.70.143.51:62193</Transport>
    <Transport>brunet.tcp://219.243.200.113:62193</Transport>
    <Transport>brunet.tcp://219.243.200.93:62193</Transport>
    <Transport>brunet.tcp://219.243.201.93:62193</Transport>
    <Transport>brunet.tcp://128.252.19.20:62193</Transport>
    <Transport>brunet.tcp://128.252.19.21:62193</Transport>
    <Transport>brunet.tcp://128.252.19.22:62193</Transport>
    <Transport>brunet.tcp://219.243.200.77:62193</Transport>
    <Transport>brunet.tcp://219.243.201.77:62193</Transport>
  </RemoteTAs>
  <EdgeListeners>
    <EdgeListener type="udp">
      <port>62194</port>
    </EdgeListener>
    <EdgeListener type="tcp">
      <port>62193</port>
    </EdgeListener>
  </EdgeListeners>
  <RpcDht>
    <Enabled>true</Enabled>
    <Port>64221</Port>
  </RpcDht>
  <XmlRpcManager>
    <Enabled>true</Enabled>
    <Port>10000</Port>
  </XmlRpcManager>
</NodeConfig>
