<namespaces>
  <namespace name="Ipop">
    Defines IpopNode the base IP over P2P utilities.
  </namespace>
  <namespace name="NetworkPackets.DHCP">
    Defines DHCP Packets.
  </namespace>
  <namespace name="NetworkPackets.DNS">
      Defines DNS Packets.
  </namespace>
  <namespace name="NetworkPackets">
      Defines Packet, Packet with a Payload, Ethernet, IP, and UDP Packets.
  </namespace>
</namespaces>