
body {
  margin: 0px;
  padding: 0px;
}

#wrapper {
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  margin: 0px;
  padding: 0px;
}

#header {
  width: 100%;
  height: 30px;
  background-color: #3B5998;
  margin: 0px;
  padding: 5px;
  color: white;
}

#subheader {
  padding: 0px;
  width: 800px;
}

#subheader ul {
  margin: 0px;
  padding: 5px 10px 5px 0px;
  text-align: right;
}

#subheader li {
  display: inline;
  font-size: 12px;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
}

#subheader a {
  text-decoration: none;
  color: white;
}

#main_body {
  width: 100%;
}

#local_nav h4 {
  font-size: 15px;
  margin: 5px;
  padding: 0px;
}

#local_nav h5 {
  font-size: 12px;
  margin: 5px;
  padding: 0px;
  color: #999999;
  font-weight: bold;
}


#local_nav ul {
  margin: 10px 0px 10px 0px;
  padding: 0px 5px 5px 5px;
  border-bottom: 1px solid #CCCCCC;
}

#local_nav li {
  display: inline;
  font-size: 12px;
  font-weight: bold;
  color: #3B5998;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

#local_nav li:hover {
  text-decoration: underline;
}

#main_content {
  width: 800px;
  color: #666666;
}

#main_content li {
  display: block;
  margin: 0px;
  padding: 5px;
  cursor: pointer;
}

#main_content table {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  color: #333333;
}

#main_content td {
  padding: 7px;
  border-bottom: 1px dashed #CCCCCC;
}

#table_tr {
  font-size: 14px;
  font-weight: bold;
}

#table_tr2 {
  font-size: 12px;
  font-weight: bold;
}

#side_content {
  float: left;
  border-right: 1px solid #CCCCCC;
  padding: 5px;
  margin: 5px 10px 5px 5px; 
  width: 200px;
}

#side_content table {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  color: #333333;
}

#side_content td {
  margin: 2px;
}

#side_content tr {
  margin: 0px;
  padding: 0px;
}

#tmp_content {
  width: 750px;
  margin: 10px 10px 10px 200px;
  font-size: 12px;
  text-align: center;
}

#tmp_content input {
  margin: 5px;
  width: 90%;
  padding: 5px;
}

#tmp_content button {
  padding: 5px;
}

.svpn {
  margin: 0px;
  padding: 5px 0px 5px 0px;
  font-size: 16px;
  font-weight: bold;
  float: left;
}

.f_name {
  font-size: 14px;
  font-weight: bold;
  color: #3B5998;
  cursor: pointer;
  margin: 2px;
}

.f_name2 {
  color: #3B5998;
  margin: 2px;
}

.fp_name {
  font-size: 18px;
  color: #3B5998;
  cursor: pointer;
}

.fp_info {
  font-size: 12px;
  color: gray;
  padding: 10px;
  margin: 10px;
}

.f_info {
  font-size: 12px;
  color: gray;
  margin: 2px;
}

.f_rating {
  font-size: 24px;
  color: #3B5998;
  font-weight: bold;
}

.table_title {
  font-size: 14px;
}

.f_online {
  font-size: 10px;
  color: gray;
}

.f_img {
  float: left;
  padding: 2px;
  margin-right: 10px;
  border: 1px solid #CCCCCC;
  width = 50px;
  height = 50px;
}

.img_link {
  cursor: pointer;
}

.div_options {
  float: right;
}

.div_fpr {
  font-size: 12px;
  color: #999999;
  font-weight: bold;
}

.loginlink {
  font-size: 20px;
  font-weight: bold;
  border: 1px dashed #CCCCCC;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.opts_menu {
  margin: 0px;
  padding: 0px;
  color: #3B5998;
  font-size: 10px;
  cursor: pointer;
}

.opts_menu:hover {
  text-decoration: underline;
}
